[2019-05-26 16:41] Sina7312 opened #2 "Exit video player!"
What if someone tried to exit the video player?! Is there an ability for it?

[2019-06-21 05:55] jepiqueau commented on #2
sorry to respond late, on which platform, the web ? on ios it is implemented, on android the press back button exit the video,

[2019-06-21 07:30] Sina7312 commented on #2
Thanks for responding. Yes, I test it on web and there was no way to exit in middle of video.

[2019-06-21 12:02] jepiqueau commented on #2
i am looking for it, but it is not as easy

[2019-06-22 09:23] jepiqueau commented on #2
i did add a button in the web interface to close in the release 1.0.0-alpha.6, i have still to manage the hiding and showing i did not find an event from the video tag controls which is fired when the controls are shown or hide so i will have to do something not synchronized

[2019-06-22 11:53] Sina7312 commented on #2
Thanks for the update

[2019-06-22 14:10] jepiqueau commented on #2
This is now solved in in the release 1.0.0-beta.1, so i close it

[2019-06-22 14:10] #2 closed

[2019-08-21 08:12] mburger81 opened #4 "FR: embedded video player"
Hello, at first nice plugin,

we tested your video player first on web, and we see do you always create a new video element always in fullscreen mode.

In this way we can not use embedded videos, like multiple videos on one screen.

We think you could use capVideoPlayerOptions to pass an already existing video element? What do you think about it?

Not sure, we are not an expert on android/ios, but

[2019-08-21 09:12] jepiqueau commented on #4
Interesting comment, I may look at it but in that case I will create a new plugin for multiple videos

[2019-08-21 09:21] mburger81 commented on #4
Why would you like do this.
On web you can have many video tags with many instances, no problem about that.

Not sure how on Android/iOS

But I think it's better to don't have different plugin there is probably no need for it. If you have to plugins you also have to maintain both.

[2019-10-08 06:50] mburger81 commented on #4
@jepiqueau hey is there any plans for this?

[2019-10-11 15:15] jepiqueau commented on #4
Not really what you would like to have ? Do you want to provide a list of videos to play and have each video displayed in a cell of a grid with a maximum of 4 videos on the screen and having the possibility to swap the videos by selecting new one from a thumbs gallery slider ? Before i start looking at something i need more data from you

[2019-10-13 17:33] jepiqueau commented on #4
Ok, feel free to come back

[2019-11-18 22:28] es-daniel commented on #4
@jepiqueau can I use a link like this `https://www.youtube.com/embed/34fDUKaJBtw ` with this plugin?

[2019-11-19 08:08] jepiqueau commented on #4
@es-daniel No you cannot in this release, it is not a youtube player, you may use ```https://www.npmjs.com/package/capacitor-youtube-player``` provided by someone else.

[2019-11-19 18:14] pnaylor commented on #4
Definitely interested in being able to embed the plugin player as a video element on a page that the user can then interact with more persistently than the popup style player that disappears from the page when closed, as in demo.

That being said, this looks like a great start and thank you!

[2019-11-20 09:28] jepiqueau commented on #4
@pnaylor yes would be interesting but any idea on how to define the position on the page and the size of the video and would you like to embed several video player on the same page. if you specify more precisely your needs, i may have a look to propose fullscreen option or embedded option. waiting for your reply

[2019-11-20 20:44] pnaylor commented on #4
Glad to hear there is interest in expanding this functionality @jepiqueau !

Hm, if it was embedded in an html5 video element then wouldn't all of those properties (height/width) already be encapsulated within the element and where it was added to page or how it was styled?

My current needs would be either the ability to have multiple videos embedded but only one visible at a time or one video/pl

[2019-11-23 02:10] safaldas opened #5 "Play video in external storage"
I have a video that is dowloaded to the external storage in the path `/storage/emulated/0/Android/data/org.cordova.quasar.app/files/downloads/ppi_demo/ppi_demo_1.mp4` how to play this file.

[2019-11-25 09:18] PabloAndo opened #6 "Any other methods?"
Is there any other methods available?

For example, is it possible to know when the video has finished? Stop or pause the video?

Thanks.

[2019-11-29 22:29] jepiqueau commented on #4
@mburger81  @pnaylor Embedded videos for the web plugin have been added to capacitor-video-player@1..1.3-3 see ```https://www.npmjs.com/package/capacitor-video-player```  and ```https://github.com/jepiqueau/ionic-capacitor-video-player``` for a ionic implementation. the Viewme and the PWA app implementation have not been updated yet. Can you test the new plugin, waiting for comments  and will have

[2019-12-02 21:21] pnaylor commented on #4
This looks amazing @jepiqueau thank you! Would love to see the stencil demo updated with it as well if you get a chance.

Will share further feedback after trying it out.

Best

[2019-12-16 19:05] lapamplemousse opened #7 "E/Capacitor: Unable to open asset URL: http://localhost/raw/video"
When I try and play the video in Android studio I am getting the following problem:

When trying to import the capacitor video player, I am getting the following error "Cannot resolve symbol jeep" in the following line in main activity
import com.jeep.plugin.capacitor.videoplayer.CapacitorVideoPlayer;

[2019-12-19 12:06] lapamplemousse commented on #7
'npx cap update' fixed it

[2019-12-19 14:49] jepiqueau commented on #7
@lapamplemousse  Yeh, you always have to run ```npx cap update ``` when you install a new release of the video player

[2020-01-06 19:48] #7 closed

[2020-01-07 13:46] lapamplemousse opened #8 "When changing orientation video restarts"
When playing the video on android, if the orientation is changed from portrait to landscape the video will start from the beginning

[2020-01-18 11:21] jepiqueau commented on #8
this is solved in the new release see ``` @jeepq/capacitor ```  this is going to be deprecated

[2020-01-18 11:21] #8 closed

[2020-01-18 11:25] jepiqueau commented on #6
this has been added for the web plugin. this is going to be deprecated visit @jeepq/capacitor for new release

[2020-01-18 11:25] #6 closed

[2020-01-18 11:26] jepiqueau commented on #4
this is going to be deprecated visit @jeepq/capacitor for new release

[2020-01-18 11:26] #4 closed

[2020-01-18 11:34] jepiqueau commented on #5
@safadas i didn't forget your question. i was engaged in a complete refurbishing of my web components and  my capacitor plugins to propose them in libraries. This is going to be deprecated, visit @jeepq/capacitor for new releases of this plugin. this issue is not yet fixed. So please can you reopen it over there thanks

[2020-01-18 11:34] #5 closed

[2020-01-20 19:47] pnaylor commented on #4
Ah, thank you for the update. Doesn't seem to exist yet though, https://github.com/jepiqueau/capacitor?
Appreciate your help!

[2020-01-20 20:06] jepiqueau commented on #4
@pnaylor  look at  doc  at ``` https://github.com/jepiqueau/jeep/blob/master/capacitor/plugins-library/docs/VideoPlayer.md ``` to install it  ``` npm install --save @jeepq/capacitor@latest ```

[2020-04-18 18:43] armanhadifatah opened #9 "not supporting androidx"
I use capacitor 2.0.0 and on android it gives me error and i think it is because not supporting androidx

[2020-04-19 05:48] jepiqueau commented on #9
@armanhadifatah Thanks for using the plugin, yes you right, i have to move it to capacitor 2.0.

[2020-04-19 07:39] jepiqueau commented on #9
@armanhadifatah  This is done in the release 2.0.1-1 of the plugin. Enjoy

[2020-04-19 07:40] jepiqueau commented on #9
@armanhadifatah you can close the issue after testing of the new release

[2020-04-19 09:05] armanhadifatah commented on #9
Thank you very much
I updated plugin but now there is no plugin class when i want to add it

`add(CapacitorVideoPlayer.class);`

`can not resolve symbol 'CapacitorVideoPlayer'`

There is no plugin folder in the project

[2020-04-20 05:30] jepiqueau commented on #9
@armanhadifatah Have you migrate your app to androidX see the doc of the ionic capacitor team
at https://capacitor.ionicframework.com/docs/android/updating/ , i did that and it work nicely;

make sure that in your mainActivity.java file you import the plugin
[code]
in android studio
clean the project
sync project with gradle files
build the project
and run it
if this procedure doesn't work, save y

[2020-04-20 07:33] armanhadifatah commented on #9
Great now it is working

But if you just add

[code]

in `activity_videoplayer.xml`

and add `Pbar = (ProgressBar)findViewById(R.id.indeterminateBar);`
in `VideoPlayerActivity`

and inside ` videoView.setOnPreparedListener`

just hide it `Pbar.setVisibility(View.GONE);`

[2020-04-20 11:15] jepiqueau commented on #9
@armanhadifatah I am pleased 😀 to hear that it works. That a good suggestion, i will do it in the next release.

[2020-04-20 12:14] #9 closed

[2020-04-22 04:14] tekknikk opened #10 "add support for streaming video"
this player works great for videos from AWS S3.  What would it take to add support for AWS streaming?

URL example for AWS Streaming
`https://fdhsfhsrfhfgh!!?.data.mediastore.ap-southeast-2.amazonaws.com/p/index.m3u8`

[2020-04-22 08:41] tekknikk commented on #10
this works:

`
  ngAfterViewInit() {
    const options = {
      'sources' : [{
        'src' : this.urlVideo,
        'type' : 'application/x-mpegURL'
        }
      ],
      'poster' : this.urlPoster,
      'data-setup': '{"liveui": true}'
    };
    this.vjs = videojs('my-player', options);

  }
`

[2020-04-22 08:42] tekknikk commented on #10
``

[2020-04-23 08:46] jepiqueau commented on #9
@armanhadifatah Progress Bar implemented Enjoy!

[2020-04-28 05:29] indraraj26 opened #11 "demo page not found"
no description needed

[2020-04-29 08:46] jepiqueau commented on #10
@tekknikk I am not familiar with AWS Streaming can you provide me some references so i can have a look and try to understand.

[2020-04-29 10:27] jepiqueau commented on #10
@tekknikk Are you sure that your url is correct i tested with `http://qthttp.apple.com.edgesuite.net/1010qwoeiuryfg/sl.m3u8` and it works well on IOS but not on Android devices

[2020-04-29 15:44] rbenzing opened #12 "Switching between routes in Angular 8 doesnt stop the video playing"
I am embedding for PWA and noticing that the video doesnt stop when going back in the routes using routerLink how do i destroy the component on switching views?

Ionic 4
Angular 8
Capacitor only

[2020-04-30 08:33] jepiqueau commented on #11
@indraraj26 Thanks this will be fix in the next release , the path to the demo page is
[code]

[2020-04-30 09:09] jepiqueau commented on #11
@indraraj26  done

[2020-04-30 09:09] #11 closed

[2020-04-30 12:40] jepiqueau commented on #12
@rbenzing First thanks to use the plugin. this has been fixed in the release 2.0.1-4. A new method `stopAllPlayers()` has been added, you can call it before to leave the route like this
[code]
If you have some timeout function running do not forget to clear them before calling the stopAllPlayers() method.

I let you close the issue after you implemented successfully in your PWA app.

[2020-05-01 07:30] jepiqueau commented on #10
@tekknikk you didn't come back to me. I have been looking on exoplayer from google for android but it is not as easy as i can read some network links but not yours and not even the one from apple i referenced earlier. on IOS with the standard player i can read a lot of link but not yours. I have tried also videolan vlc i can read quite a few but not yours. Is AWS Streaming use a special encoding ?

[2020-05-02 14:24] tekknikk commented on #10
Apologies for delay in comms.  Things have been crazy.  The url I gave you was made up.  I will send you a real one now.

[2020-05-02 14:28] tekknikk commented on #10
this url works in video.js

https://video-develop-output-annukri9.s3-ap-southeast-2.amazonaws.com/output/3d-print-workshop_Ott_Hls_Ts_Avc_Aac_16x9_1280x720p_30Hz_3500Kbps.m3u8

[2020-05-02 14:32] tekknikk commented on #10
i'm using this AWS amplify VOD beta plugin

<img width="744" alt="Screen Shot 2020-05-03 at 12 31 40 AM" src="https://user-images.githubusercontent.com/18043/80867089-97bead80-8cd5-11ea-80d1-2f5a745c781b.png">

[2020-05-02 14:35] tekknikk commented on #10
so i can create templates with available output options:

<img width="624" alt="Screen Shot 2020-05-03 at 12 34 03 AM" src="https://user-images.githubusercontent.com/18043/80867162-f6842700-8cd5-11ea-82e2-451fb4eae030.png">

[2020-05-03 03:48] tekknikk commented on #10
Initial output testing indicates:
DASH not playing with error of unknown source
https://tv-develop-output-no9tr3ka.s3-ap-southeast-2.amazonaws.com/creating-an-issue.mpd

CMAF  does play!
**video**
https://tv-develop-output-no9tr3ka.s3-ap-southeast-2.amazonaws.com/creating-an-issuetesting-cmaf.cmfv

**audio**
https://tv-develop-output-no9tr3ka.s3-ap-southeast-2.amazonaws.com/creating-an-issue.cmfa

[2020-05-03 06:55] jepiqueau commented on #10
@tekknikk  i have tried
https://video-develop-output-annukri9.s3-ap-southeast-2.amazonaws.com/output/3d-print-workshop_Ott_Hls_Ts_Avc_Aac_16x9_1280x720p_30Hz_3500Kbps.m3u8
on my development release i can open it on the web, ios, android but it is quite slow to download at the beginning and there is no sound at the beginning till you reach 5'41 is it normal?

Can you try to do for testing a smaller

[2020-05-03 08:16] tekknikk commented on #10
try this:
https://tv-develop-output-no9tr3ka.s3-ap-southeast-2.amazonaws.com/IMG_2163/IMG_2163.m3u8

[2020-05-03 08:30] tekknikk commented on #10
Yes. CMAF output has been splitting video and audio as separate files.

[2020-05-03 17:51] jepiqueau commented on #10
@tekknikk I had to move from Hls.js to video.js to have the DASH working. The Dash example you gave me doesn't work. but i found some on the net for testing. For my understanding, any reason for splitting the CMAF into video and sound, can you give me an example with only one file. I have know all the bit and pieces to modify the plugin. At the end the Web Plugin will support All formats, IOS will

[2020-05-03 22:55] tekknikk commented on #10
@jepiqueau many many thanks for working on this issue. I really appreciate it man and please let me know if there is anything i can do to help. For DASH it seems like the player has difficulty reading an index file for streams ie the *.mpd which then references mp4 files that the current player can play. I think this is the same for the m3u8 index files.

If the video.js version is working ok, can

[2020-05-03 22:58] tekknikk commented on #10
hls.js should support these m3u8 streams...maybe i need to change the way i'm initializing the player?

[2020-05-04 12:13] jepiqueau commented on #10
@tekknikk Well, thinks are not going as planned, i cannot integrate in capacitor the part that i tested with video.js, capacitor cannot find the video.js module, something wrong with the @types/video.js which i cannot figure out. i move back now to hls.js to see if i can integrate easily with capacitor. Meaning no DASH files. I let you know later.

[2020-05-06 08:24] 7freaks-otte opened #13 "Feature request: background video support"
Any plans on supporting background videos?

Seems to be quite easy for iOS: https://developer.apple.com/documentation/avfoundation/media_assets_playback_and_editing/creating_a_basic_video_player_ios_and_tvos/playing_audio_from_a_video_asset_in_the_background

In my special case we are streaming music videos which is (at least on iOS) working perfectly and it would be nice to keep the audio (or vid

[2020-05-06 08:47] jepiqueau commented on #10
@tekknikk I am nearly there for Web and IOS plugins. I implemented Hls and Hls fragmented fMp4support. Can you provided me a short CMAF with video and sound that i can use to demonstrate the CMAF support in my angular-video-player-starter and my pwa-video-player-app-starter. I would really appreciate

[2020-05-06 12:51] jepiqueau commented on #10
@tekknikk Finally got there for Web & IOS see capacitor-video-player@2.0.1-6, still android to do...
tell me when you have tested it

[2020-05-08 17:48] jepiqueau commented on #10
@tekknikk Support for DASH, HLS, ISM has been added to the Android plugin. Hope you will enjoy.

[2020-05-08 17:55] jepiqueau commented on #13
@7freaks-otte It is not as easy in fact, as it is not the player which is on the background but the application itself which go the capacitor-bridge to get the player. So i will see how it comes when i will try. Thanks anyhow to bring this

[2020-05-10 07:38] 7freaks-otte commented on #13
It was in fact very easy to allow background streaming on iOS by adding just a few lines to your plugin, BUT:

At the moment my App stops playing the video when it enters background but playback can be reactivated on the lockscreen or in the control center. Then it continues playing in the background and streaming over airplay.

I’m still trying to solve this and keep you posted about my progress.

[2020-05-10 10:47] jepiqueau commented on #12
@rbenzing Any chance that you have tested it

[2020-05-10 15:03] jepiqueau commented on #13
@7freaks-otte Can you share the changes you made to the plugin so i can test on my side

[2020-05-10 15:49] 7freaks-otte commented on #13
Of course I will. I just thought I could give you a more sophisticated solution that I fully understand and that is ready to be incorporated into your plugin... 🙈
I’ll post my (trial & error) changes tomorrow as soon as I’m in my office

[2020-05-10 16:24] jepiqueau commented on #13
@7freaks-otte Ok thanks, On my side i made a pure swift video player app where the sound continue to play when the app is in a background but i have not succeed yet to implementing it the plugin and in the app using the plugin i do not know how to pass the viewController define in the plugin to the app running the plugin

[2020-05-10 17:24] 7freaks-otte commented on #13
I was merely setting the AudioSession to “shared” with a background-Audio category. On didEnterBackground detaching the player and on willEnterForeground reattaching it. I post my code tomorrow.

[2020-05-10 18:00] jepiqueau commented on #13
@7freaks-otte this is what i am looking to do but i cannot find the way to transfer the audioSession and the player from the plugin to the AppDelegate of the application

[2020-05-11 08:15] 7freaks-otte commented on #13
To be honest, I'm not really sure what I am doing here, as I did not have the time to dig more into it and I just coded it for videoPlayerFullScreenView as this is what we are using.

But I share my code with you along with my assumptions why it works.

First I added a variable to keep a reference to the player when detaching:
```var playerBg: AVPlayer!```

Then I added the code for the shared Aud

[2020-05-11 08:49] jepiqueau commented on #13
@7freaks-otte Thanks for sharing, i saw that you create two new methods in the plugin applicationDidEnterBackground and applicationWillEnterForeground where i was trying to do the same code in the AppDelegate.swift of the application but i din't find the way to pass the player and the audioSession from the plugin to the application.This is strange, i thought that it is the application which goes f

[2020-05-11 09:14] 7freaks-otte commented on #13
You are completely right. I haven’t tested really tested if applicationDidEnterBackground gets called but I received an error before I added the nil-Test in applicationWillEnterForeground so I assumed that it was in fact called

[2020-05-11 09:29] jepiqueau commented on #13
@7freaks-otte I have tested your code but both the audio and the video stop when the app is entering the background. i check that the app target capabilities i have Background Modes set for Audio, Airplay, and Picture in Picture

[2020-05-11 09:52] 7freaks-otte commented on #13
After it stops, can you start the audio again on your Phone’s lock screen? This is what I am able to do and which tells me, that background mode is working correctly.

I will test if my 2 new functions are called in the XCode console

[2020-05-11 10:46] jepiqueau commented on #13
@7freaks-otte No i didn't test other mode for the audio session but i could try to see the difference. I do not have an Apple device so i can only test on simulator can you explain me What is the Phone's lock screen sorry for this

[2020-05-11 11:04] 7freaks-otte commented on #13
Start your video in the simulator:

![Simulator Screen Shot - iPhone 11 - 2020-05-11 at 12 54 32](https://user-images.githubusercontent.com/11407404/81554297-d237e280-9386-11ea-8dbd-73ab67711a12.png)

Then in the Simulator-Menu go to the Home-Screen (> Hardware > Home / Cmd-Shift-H).
Wait until your video stops.

Now in the Simulator-Menu lock the Phone (> Hardware > Lock / Cmd-L)
The phone is bla

[2020-05-11 11:14] jepiqueau commented on #13
@7freaks-otte i did follow what you said and it works but the first time you have to press on play. This is the behavior that you have too ?

[2020-05-11 11:20] 7freaks-otte commented on #13
Yes, that is the same behaviour.

This means:
1) The problem is not our stream... 🙈
2) Background audio is working
3) We have to find out why iOS initially stops playing the video

Maybe we can change that behaviour with a different audio session mode. Or maybe there is a problem with detaching the player in my applicationDidEnterBackground function

[2020-05-11 11:23] jepiqueau commented on #13
@7freaks-otte Well in fact i put a print inside the 2 functions and it did not show them in the Xcode console meaning that it does not go through the two functions but i got on the console APP INACTIVE or APP ACTIVE so it is going somewhere else i will try to figure out

[2020-05-11 11:28] 7freaks-otte commented on #13
OK then this might be the problem. I just found out that there must be a possibility to "subscribe" to applicationDidEnterBackground from within your plugin outside of the app delegate.

https://www.hackingwithswift.com/example-code/system/how-to-detect-when-your-app-moves-to-the-background (ObjC though)

Unfortunately Swift is not my daily work either ;-)

[2020-05-11 11:43] 7freaks-otte commented on #13
Can you test something like this?

[code]

(Found here: https://stackoverflow.com/a/51589649)

[2020-05-11 15:26] jepiqueau commented on #13
@7freaks-otte i go it working but as i thought at the beginning it has to be done in the AppDelegate and  the way to pass the ViewController from the plugin to the AppDelegate which was my problem yesterday i solve it by adding a listener. I am going to give you the code as i tested only for the fullscreen so before to release it i have to check that it works also for the TableViewController.

**A

[2020-05-11 15:30] 7freaks-otte commented on #13
Sounds good, I will test that tomorrow. I just thought we could work around the AppDelegate by using a listener in your plugin:

[code]

[2020-05-11 15:33] jepiqueau commented on #13
@7freaks-otte Yes it could do to i will look at it as i do not like to have to modify the AppDelegate which make thinks more complicate for the user Let see

[2020-05-11 15:37] 7freaks-otte commented on #13
@jepiqueau That was my thought too. Hopefully it works out :-)

[2020-05-11 15:38] jepiqueau commented on #13
@7freaks-otte  il will know that soon

[2020-05-11 16:02] jepiqueau commented on #13
@7freaks-otte Unfortunately it doesn't  as the bridge get the signal before the plugin so it stop the video playing in the background. I do not know if it can be considered as a bug

[2020-05-11 17:17] jepiqueau commented on #13
@7freaks-otte Finally it works after some trials and errors
The **AppDelegate.swift** should not be modified at all

the **Plugin.swift** file should be modified as followed

[code]
That is it

[2020-05-11 17:49] jepiqueau commented on #13
@7freaks-otte new release published capacitor-video-player@2.1.0-1 which fix the issue. Thanks for having ask for and help me to solve it. great job together

[2020-05-11 17:49] #12 closed

[2020-05-11 17:50] jepiqueau commented on #10
@tekknikk has you did not give me feedback, i close the issue

[2020-05-11 17:50] #10 closed

[2020-05-12 04:54] tekknikk commented on #10
amazing work @jepiqueau i am super impressed.  thank you sir.

[2020-05-12 05:28] jepiqueau commented on #10
Ok you are welcome, that was a good question but hard to solve, i will may be come back to video.js for having access to Dash video, or may be keep using Hls.js and use Dash.js for Dash file. Will see. But to day you have i think something that you can start working with. Thanks again that really enhance capabilities of the plugin, the last thing will be to add a youtube player. I also test it on

[2020-05-12 05:42] 7freaks-otte commented on #13
@jepiqueau I just tested it, everything is working perfectly. Thanks for addressing this issue, glad I could drop some hints and help a little bit. I really enjoyed working with you on this.

[2020-05-12 05:42] #13 closed

[2020-05-12 18:18] jepiqueau commented on #13
@7freaks-otte You are welcome, i started to look at how to implement this for Android, it is a bit more complex, I hope i will succeed too. Thanks again

[2020-05-12 19:02] 7freaks-otte commented on #13
@jepiqueau I'm afraid I cannot help you with Android... 🙈 But I made some improvements today to the iOS implementation to restore the ControlCenter-/LockScreen-Control that somehow disappeared when we implemented the background mode.

I'll share them with you later here.

BTW I sent you an email to the email address mentioned in your github profile.

[2020-05-13 05:50] jepiqueau commented on #13
@7freaks-otte Ok, i do not know ControlCenter-/LockScreen-Control  as i do not have a physical Apple device. Can you also check that if a call is upcoming the sound play on a background is stopped as i think it should be the normal behavior isn't it?

[2020-05-13 06:53] 7freaks-otte commented on #13
@jepiqueau Good point, I will check that. I'm sure the sound will be stopped as this is something iOS handles but I think the sound will not automatically resume. I some some code online that handles auto resume. Maybe I can implement that too.

[2020-05-13 15:31] jepiqueau commented on #13
@7freaks-otte On IOS device how do you stop playing in background ?

[2020-05-27 23:46] gabsgasps opened #14 "Add support for url without type"
Hey ! add support for url without type, without create manually a raw folder under the res folder.

[2020-05-28 07:27] lewdea opened #15 "Roadmap"
Currently, the native player does not support interactive apis as many as web plugin does. Do you have any plans or roadmap that can share with us? Thanks.

[2020-05-28 13:36] jepiqueau commented on #14
@gabsgasps Can you be more precise, i do not understand what you mean by "url without type". Do you mean a video from your device disk ?

[2020-05-28 13:40] jepiqueau commented on #15
@lewdea , Thanks for your question, my first thought was that the API are required when you embed the player, that the reason why i do not expose them in native as there is only a fullscreen mode yet. Do you need the API in fullscreen mode ? If yes tell me and i will have a look

[2020-05-28 14:46] gabsgasps commented on #14
@jepiqueau like this
https://universo-dev-a-m.s3.amazonaws.com/779970/fe774806dbe7ad042c24ce522b7b46594f16c66e

[2020-05-28 16:16] jepiqueau commented on #14
@gabsgasps Ok understand, but in that case Do you know a way to identify the type

[2020-05-28 16:36] jepiqueau commented on #14
@gabsgasps I tried your link in the web and i can use the normal video tag with the type "video/mp4" so i will use this in the next release as i have to check how it is behaving in ios and android

[2020-05-28 16:55] gabsgasps commented on #14
i found this https://stackoverflow.com/questions/24050112/check-url-content-type-with-javascript/24050265#24050265
_but it works only if they have CORS_

[2020-05-28 18:39] jepiqueau commented on #14
@gabsgasps this is now fixed in capacitor-video-player@2.1.0-2

[2020-06-02 01:29] lewdea commented on #15
@jepiqueau  Thanks for the reply.  I've already embed the player into my capacitor project and it can play the video in fullscreen mode. However, for me, video play is only the first step. What I want the most is the video tracking when the app is installed and used in native devices.  My request is whether you can expose more apis as many as web plugin does, such as getDuration, fire play/pause e

[2020-06-02 14:47] #14 closed

[2020-06-03 04:47] jepiqueau commented on #15
@lewdea I understand clearly your point, i am working on, it is taking more time that what i thought as i have also to implement listeners and notification to make sure that you could use the API when the player is ready to play. I hope i will have it soon first for the IOS plugin and later for the Android. Thanks for using the plugin

[2020-06-07 13:07] martincres opened #16 "XCODE SIMULATOR > FATAL ERROR WHEN CLOSING APP"
Hi, in Xcode when i lunch the application in the simulator and i try to close the application is throwing this error:

Fatal error: Unexpectedly found nil while implicitly unwrapping an Optional value: file ..node_modules/capacitor-video-player/ios/Plugin/Plugin.swift, line 37
2020-06-07 10:04:29.200253-0300 App[50972:939203] Fatal error: Unexpectedly found nil while implicitly unwrapping an Optio

[2020-06-08 06:46] jepiqueau commented on #16
@martincres  Thanks for using the plugin, I never got this one so which Xcode version are you running and which simulator are you testing on ?

[2020-06-08 11:39] martincres commented on #16
Hi @jepiqueau thank you for your answer.

The problem is in this two observers of the Plugin.swift file

[code]
The workaround that i found its deleting them because im not using them.

- XCode Version 11.5 (11E608c)
- Simulator Version 11.5 (921.9.1)

The problem also is happening when debugging the application in my phone

[2020-06-08 13:49] jepiqueau commented on #16
@martincres Can you try this for me as i cannot reproduce the error and i do not have an iphone. When i introduce this new feature (plying in the background i was developing this with the guy who ask for it and he did not have any problem with what we achieved.
moving away this line from the addObserversToNotificationCenter() method
[code]

having this in the addObserversToNotificationCenter() met

[2020-06-08 14:35] martincres commented on #16
@jepiqueau Of course! I think you have a newer version or development version of the plugin

![image](https://user-images.githubusercontent.com/15253539/84041881-bd953d00-a97a-11ea-9466-6ada3b143d3f.png)

So i leave the initPlayer method like this

[code]
But i still having this error in the observers when the APP status changes to INACTIVE:

![image](https://user-images.githubusercontent.com/1525

[2020-06-08 14:41] jepiqueau commented on #16
@martincres  yes i am working on the next release with api method so this is the way i implemented this part and it works fine

[2020-06-08 14:54] martincres commented on #16
@jepiqueau OK! I can resolve my problem with the workarround mention before.
I suppose that when the release is implemented my issue will be solved.
Do you have any estimated date?

Thank you

[2020-06-08 16:46] jepiqueau commented on #16
@martincres the web plugin and ios plugin are ready but not published, i am currently working on the Android plugin but it is not as easy as i was using an Intent to open the video player activity from the main activity and i do not know yet how to execute from the main activity a method of the player activity. So hope it will come soon?

[2020-06-09 05:02] jepiqueau commented on #16
@martincres By the way, thinking back to your problem, i wonder if in Xcode of your project application, you have add the capability for running in background mode which is mandatory.
if not follows these steps:

1. choose your project in the Project Navigator
2. choose the target on the Project Editor
3. choose the Signing & Capabilities tab
4. add the capability for ```Background Modes```
5. sel

[2020-06-09 07:19] 7freaks-otte commented on #16
This seems to be related to the code we were adding @jepiqueau to support background audio and airplay. I'm sorry that I haven't got back to you until now. I have some improvements regarding the play/pause controls on the lock screen and should really take some time to help you with this.

If I find some time this week, I could as well add a background mode detection to avoid this error if backgro

[2020-06-09 13:52] martincres commented on #16
No luck with this!

[2020-06-16 11:53] jepiqueau commented on #15
@lewda The new release 2.1.0 give access to the interactive apis for the native players. It took sometimes as i had to completely rewrite the two natives players. Hope you will enjoy...

[2020-06-16 11:53] #15 closed

[2020-06-16 11:57] jepiqueau commented on #16
@martincres  @7freaks-otte A new release 2.1.0 integrating the support for interactive apis for the two natives players is now available. It has required a complete rewrite of the player especially for the android one. Can you tell me if you have still the issue

[2020-07-18 08:29] jepiqueau commented on #16
@martincres Have you still the issue or did the 2.1.0 release fix the issue

[2020-07-26 11:31] itsmebharat opened #17 "After using this Plugin Android app is crashing"
Plugin is throwing error on android, after adding below line in the MainActivity class with proper import. working with web support.

`add(CapacitorVideoPlayer.class);`

Below is the error, kindly suggest how to fix.

`2020-07-26 00:59:25.864 6011-6011/com.mydomain E/FragmentManager: No view found for id 0x7f0800a2 (com.mydomain:id/frameLayout) for fragment FullscreenExoPlayerFragment{973798c #1 i

[2020-07-27 06:08] jepiqueau commented on #17
@itsmebharat First thanks for using the plugin. I never see that error. I do not understand the `android.R.id.content` as it doesn't exists in the `bridge_layout_main.xml`  where the `R.id.frameLayout` is defined. So i do not think your fix is correct.
I assume your Android package name is `com.mydomain` so your `MainActivity.java` must look like
[code]
Can you tell me which version of
 - capacito

[2020-07-27 07:46] jepiqueau commented on #17
@itsmebharat Can you put a small app on github that replicate the error thanks

[2020-07-27 08:07] jepiqueau commented on #17
@itsmebharat Can you try cloning ```https://github.com/jepiqueau/angular-videoplayer-app-starter``` and tell me if it works

[2020-07-27 08:38] itsmebharat commented on #17
Hello @jepiqueau Thank you for your quick response.

I am afraid I am not into the android programming but as per my understanding in my app the view container "R.id.frameLayout" was not available due to unknown reason when it was loading the video player fragment and throwing error.

Well I read on internet about "android.R.id.content", it gives you the root element of a view, without having to k

[2020-07-27 09:28] itsmebharat commented on #17
@jepiqueau this app is working, I wonder what is wrong with my app, just for your information, i am also using your SQLLite storage plugin and it works great and I did follow same steps for video and SQLLite.

These are the differences from my app with this app:

Framework: stencijs +core ionic framework
"@capacitor/android": "^2.3.0"
"@capacitor/core": "^2.3.0"
"@capacitor/ios": "^2.3.0"

[2020-07-27 09:37] itsmebharat commented on #17
I have updated core and android to 2.3.0 but still same result with

`fragmentTransaction.replace(R.id.frameLayout, vpFragment)`

[2020-07-27 13:30] jepiqueau commented on #17
@itsmebharat Sorry to be late, i was working in one of my other plugin, In the clone app of https://github.com/jepiqueau/angular-videoplayer-app-starter can you try your URL without type and tell me if it is working

[2020-07-27 13:32] jepiqueau commented on #17
@itsmebharat when you said `Stencijs+Ionic` means a Stencil App not a Stencil PWA ?

[2020-07-27 14:06] itsmebharat commented on #17
@jepiqueau Yes video is playing with my URL without type, although I had to use whitelist plugin to allow it.

[2020-07-27 14:12] itsmebharat commented on #17
@jepiqueau Sorry I meant `stencijs Ionic PWA` (https://stenciljs.com/docs/getting-started).

I am not using React/Angular, I am using ionic web components and I am building app for android and ios only.

[2020-07-27 14:17] jepiqueau commented on #17
@itsmebharat That is what i was suspicious, In PWA you cannot use Native part of plugins. PWA is a pure Web Application

[2020-07-27 14:21] jepiqueau commented on #17
@itsmebharat look at the README for Running on PWA. you will use the web part of the plugin
[code]

[2020-07-27 14:22] itsmebharat commented on #17
@jepiqueau It is hybrid application and i am using capacitor runtime. I am able to use your other plugins as well like "capacitor-data-storage-sqlite"

[2020-07-27 14:24] itsmebharat commented on #17
As i am using Capacitor runtime, it provides a native mobile runtime and API layer for web apps, but right now i only need to develop mobile app so i am using your plugins for mobile, currently it is not working as PWA.

[2020-07-27 14:32] itsmebharat commented on #17
See the native logs from your plugin.

![image](https://user-images.githubusercontent.com/5227949/88554437-24aea400-d044-11ea-9dce-29475df5215b.png)

[2020-07-27 14:33] jepiqueau commented on #17
@itsmebharat So it is not a PWA it is a Stencil + Ionic + Capacitor App to be publish in Apple and Google stores

[2020-07-27 14:34] itsmebharat commented on #17
Yes. I am sorry for confusion. I am using this combination first time.

[2020-07-27 14:35] jepiqueau commented on #17
@itsmebharat In that case it should work. I will have to create an app with Stencil + Ionic + Capacitor and test it

[2020-07-27 14:37] itsmebharat commented on #17
@jepiqueau That would be great help, meanwhile the work around `android.R.id.content` is working for me. Thank you for your support, waiting for your test results.

[2020-07-28 05:56] jepiqueau commented on #17
@itsmebharat Can you check that the bridge_layout_main.xml of the capacitor-video-player is as follows
[code]
this is where the FrameLayout is defined

[2020-07-28 07:36] itsmebharat commented on #17
@jepiqueau Yes I checked and it is same as you shared, FrameLayout is there, and I wonder why it is not found when you replace with fragment? That's why I used main activity layout.

Did you replicate this problem?

[2020-07-28 07:47] jepiqueau commented on #17
@itsmebharat not yet i just started to create a Stencil + Ionic + capacitor app. I will tell you i just do not understand what is going on as it should find the FrameLayout. So i will tell you the result.

[2020-07-28 08:58] eamador commented on #17
Hey, i am having the same exact error, the app is crashing and it throws the `No view found for id 0x7f0800a2 (com.myapp/frameLayout) for fragment FullscreenExoPlayerFragment{4ea92ec #1 id=0x7f0800a2}` error.

These are my versions:
capacitor-video-player@2.1.0
capacitor/core@^2.2.1
Project framework = Ionic
Runtime Platform = Capacitor

@itsmebharat the suggested workaround fixes the issue.
[code

[2020-07-28 10:04] jepiqueau commented on #17
@itsmebharat i got the Stencil+Ionic+Capacitor running without any problem see `https://github.com/jepiqueau/test-video-player`

[2020-07-28 10:56] itsmebharat commented on #17
I will check you repo, thank you for your support, just FYI i was getting same issue as mentioned by @eamador

[2020-07-28 11:04] jepiqueau commented on #17
@itsmebharat @eamador i was suspecting as both of you use a package with only one name after the com `com.mydomain`& `com.myapp` that it may come from this but i test it and it is still working. What version of Android Studio are you using ?
i use
[code]
and this is my package.json file
[code]
I think to help me finding you should create a small app replicating the issue. Now that you are two havi

[2020-07-28 12:24] itsmebharat commented on #17
@jepiqueau I am able to run your stencil app successfully and there is no error in the player, i have tested it with my url (without video type). Now as you suspect it could be related to single word domain as my domain has single word `com.companyname`.

so to replicate this issue again, i will use your package.json and code and will create new app with single word domain.

By the way is it possi

[2020-07-28 12:28] itsmebharat commented on #17
@jepiqueau Here is my Android studio info

[code]

[2020-07-28 12:56] jepiqueau commented on #17
@itsmebharat I tested with a short domain name `com.myApp` and it is working find so it is not the domain name who causes the error

[2020-07-28 12:58] itsmebharat commented on #17
@jepiqueau Would your please tell me your device and android os version?

[2020-07-29 06:11] eamador commented on #17
I am using Android Studio 4.0.1, here is my package.json, maybe @itsmebharat you could please paste yours here too so that we can try to see if we both have some a similar package/version which might be causing the problem?

[code]

[2020-07-29 10:10] eamador commented on #16
hi @jepiqueau i am using `2.1.0` and i am having this issue

[2020-07-30 04:53] jepiqueau commented on #17
@itsmebharat i tested it on simulator Pixel 3a XL with API 29

[2020-07-30 04:55] jepiqueau commented on #17
@itsmebharat Android 10.0

[2020-07-30 05:06] jepiqueau commented on #17
@itsmebharat i also test it on Pixel 2 API 28 Android 9.0 and Android TV API 25 Android7.1.1 and it works as well

[2020-07-30 07:37] itsmebharat commented on #17
@jepiqueau Thank you for your testings but I do not understand what is wrong in my app package. here my package json.

[code]

[2020-07-31 04:19] jepiqueau commented on #17
@itsmebharat did you make a `npx cap update` before the `npm run build` followed by `npm run build-android`

[2020-08-01 18:50] itsmebharat commented on #17
@jepiqueau Sorry for late response, I was working on some other project, I remember I ran `npx cap update` but i will try again will share here soon. Thanks.

[2020-08-05 11:48] jepiqueau commented on #16
@eamador Can you share your app or a replicate to github so i can directly work from there to identify the cause of the bug as i could not replicate it from my own set-up.

[2020-08-05 11:50] jepiqueau commented on #17
@itsmebharat , @eamador If we want to progress on this, one of you have to share on github a replicate of your app as i cannot reproduce the issue with my own setup

[2020-08-05 12:01] itsmebharat commented on #17
@jepiqueau I have your sample stencil repo which is working for me, I will try to replicate this issue by adding the dependencies I am using for my app. I will try to share repo with you as well, give me some time please. I am working on a priority release this week. Thank you so much for your continuous support.

Note: The work around I did for this issue runs the video, however when video ends o

[2020-08-06 17:00] jepiqueau commented on #17
@itsmebharat, @eamador i got a new release in beta where i create programmatically the framelayout do npm i --save capacitor-video-player@beta and tell me if the issue is now fixed

[2020-08-06 20:24] tljesse opened #18 "Play video with url parameters"
It seems that there is an issue if I try to play a video that has any query params it will not load. What I'm trying to do is upload an mp4 to firebase storage, then to access that there is a token attached to the url. When I try to play the video with the token attached it does not load the player.

For instance I have a url that ends like this

`big_buck_bunny_720p_surround.mp4?alt=media&token=a

[2020-08-07 04:42] jepiqueau commented on #18
@tljesse Yes you right, it was not designed to have query params associated with the url. i will have a look to see how to implement it and rely on you for testing

[2020-08-07 05:10] jepiqueau commented on #18
@tljesse On which platform did you have the issue?

[2020-08-07 06:07] jepiqueau commented on #18
@tljesse I assume it was on the web platform only this should now be fixed in the beta release
`npm i --save capacitor-video-player@beta` tell me if not or close the issue. Thanks for using the plugin in your contribution in the debugging process

[2020-08-07 15:20] tljesse commented on #18
Hey @jepiqueau yes I was trying it on the web while running `ionic serve` but I want to be using it on android and ios as well, didn't get around to testing it on either device since it wasn't working on the web. I'll try it out with the beta version

[2020-08-07 16:46] jepiqueau commented on #18
@tljesse Normally it should work on iOS and Android

[2020-08-08 11:32] itsmebharat commented on #17
Hello @jepiqueau thank you for the new release, the latest version has fixed the issue, however it is also removing status bar after video ended/exit as i mentioned in the workaround fix i did.

Issue: "When video ends or exits, it expands app's viewport and removes status bar that probably because video in full-screen mode.

Please suggest do I need to show status bar programmatically once video

[2020-08-09 08:35] jepiqueau commented on #18
@tljesse Didn't hear from you. Is it working as i would like to move from beta to release

[2020-08-09 09:30] jepiqueau commented on #17
@itsmebharat This is now fixed in the 2.3.0-beta.3 update `npm i --save capacitor-video-player@beta` Can you try and confirm. Thanks for pushing me to the limits and participating to the debugging process

[2020-08-10 09:04] itsmebharat commented on #17
Hello @jepiqueau yes I can confirm the status bar issue is fixed now, thank you for your efforts and helping us.

There is one enhancement I would like to request in this plugin, it may help others too.

In my project there was a requirement to play video from https link as well as from Local Application storage (So I download and save them using file plugin inside File.dataDirectory+"videos/").

[2020-08-10 14:14] jepiqueau commented on #17
@itsmebharat Understand your point. Can you please create a new issue with playing videos from local storage and close that one as the issues are not related it will help the follow-up Thanks for your understanding

[2020-08-10 14:56] itsmebharat commented on #17
@jepiqueau Sure thank you!

[2020-08-10 14:56] #17 closed

[2020-08-10 14:57] itsmebharat opened #19 "Play videos from local storage"
Please add feature to play videos from device local storage, currently it's supported. Thanks!

[2020-08-11 08:50] jepiqueau commented on #18
@tljesse If i do not hear from you today, i will close that issue as for me it is solved

[2020-08-11 22:12] tljesse commented on #18
Hi @jepiqueau I finally came back around and tried it, there looks to be an error with the url encoding still. With the firebase storage URL they replace `/` with `%2F` or the link won't work.

URL is set as `curriculumVideo%2FBall-AV-5.mp4`
URL is encoded to `curriculumVideo%252FBall-AV-5.mp4`

and this causes the link to break.

[2020-08-12 08:33] jepiqueau commented on #18
@tljesse Did you try for Android and iOS?

[2020-08-14 09:17] eliagentili opened #20 "Destroy all listeners attached to a player"
Is there any way to destroy all the listeners attached to a player?

I have this problem.

I have a few different pages, and in everyone, I have one or more players. Sometimes (tested on Android) it happens that even if I close the video or click the back button the video still playing. I solve adding in the `ionViewWillLeave` a call to `this._videoPlayer.stopAllPlayers();`, but this only put the

[2020-08-14 09:42] jepiqueau commented on #20
@eliagentili I assume that you are working with the Web part of the plugin?

[2020-08-14 09:51] jepiqueau commented on #20
@eliagentili which release of the plugin are you working with ?

[2020-08-14 09:52] eliagentili commented on #20
I work with all the versions:
- web
- android
- ios

This is the package installed:
"capacitor-video-player": "^2.1.0",

[2020-08-14 10:03] jepiqueau commented on #20
@eliagentili It is related with the use of picture-in-picture mode. i never tested with that mode. So what behavior are you  looking for ? When the mode picture-in-picture is activated
 - the mode fullscreen should be switch-off,
 - when the video reach the end the mode picture-in-picture should be removed and the listeners destroyed
 - when you exit the video the mode picture-in-picture should be

[2020-08-14 10:05] jepiqueau commented on #20
@eliagentili Can you share one of your pages where you have one player and one page where you have several players?

[2020-08-14 10:07] eliagentili commented on #20
Ok, I've found that the problem on Android happened because of this line in the `MainActivity.java`. Now, after putting it right it works well:
`add(CapacitorVideoPlayer.class);`

For iOS, when you say in the readme "Modify the Podfile under the ios folder as follows" what do you mean?

Do you mean to remove this line? `pod 'CapacitorVideoPlayer', :path => '../../node_modules/capacitor-video-playe

[2020-08-14 10:15] jepiqueau commented on #20
@eliagentili Your pod file is correct, in Android you must add `add(CapacitorVideoPlayer.class);` otherwise it used the web plugin. When you are on iOS and Android there is no Picture-in-Picture mode accessible so i assume the question is for the Web plugin. How do you do to try recording a video as the plugin does not offer this capabilities?

[2020-08-14 10:39] eliagentili commented on #20
I record my screen to show you the poblem with picture in picture.

Here you can see it:
[https://www.dropbox.com/s/kdmmzfj22lthljm/test.mp4?dl=0](https://www.dropbox.com/s/kdmmzfj22lthljm/test.mp4?dl=0)

[2020-08-14 10:44] jepiqueau commented on #20
@eliagentili Yes i understand when i close a video or reach the end if the picture-in-picture mode was selected i have to close it first and after exit the video which will remove the listener, i will have a look how to to this and come back to you for testing. Thanks anyway for using the plugin, seems you are the first to use the PiP

[2020-08-17 19:28] tljesse commented on #18
Does not appear to work on Android, but will play a normal file without that. On iOS there is also another error appearing when trying to play any video

[code]

Looks like this is being thrown at `let isPlaying: Bool = playerView.isPlaying;`

[2020-08-20 16:52] jepiqueau commented on #20
@eliagentili this should be fixed in the new beta release **capacitor-video-player 2.3.0-beta.4** tell me if you have still some issues

[2020-08-20 16:54] jepiqueau commented on #19
@itsmebharat this feature has been added  in the new beta release **capacitor-video-player 2.3.0-beta.4** can you tell me if that is working for you ?  (only for iOS and Android platforms)

[2020-08-20 16:58] itsmebharat commented on #19
@jepiqueau Great thanks, I will check and confirm.

[2020-08-20 16:59] jepiqueau commented on #18
@tljesse Can you tell me if in the new release **capacitor-video-player 2.3.0-beta.4** the issue is fixed for the web platform? I have tried not to encode the uri . For iOs and Android platform i have no idea how to solve this. Is it something special with firebase storage

[2020-08-20 17:04] jepiqueau commented on #16
@martincres, @7freaks-otte, @eamador i got a new release **capacitor-video-player 2.3.0-beta.4** Can you tell me if the problem persists. Without comment from your site i will close this issue.

[2020-08-20 17:07] jepiqueau commented on #5
@safaldas i got a new release **capacitor-video-player 2.3.0-beta.4** where i have implemented  the selection of video from the internal storage gallery Can you try it and tell me if it suit your need

[2020-08-24 15:07] zanuka opened #21 "RemoteEmbeddedPlayer error on Android"
I can get this plugin to work on iOS, but on Android I get the following:
[code]

[2020-08-24 15:51] jepiqueau commented on #21
@zanuka YouTube video link are not supported in the capacitor-video-player plugin. Can you share with me the link of the video you want to play?

[2020-08-24 17:25] tljesse commented on #18
The beta4 release is working on the web and on Android. For iOS I am getting another error trying to play.

`Failed to set audio session category`

From line 131 of Plugin.swift.

So I [forked](https://github.com/tljesse/capacitor-video-player) and wrapped that section in an if let statement and now it will run on iOS

[code]

I'm not a swift programmer so I don't know if this is any good or not t

[2020-08-24 17:43] #16 closed

[2020-08-24 18:03] jepiqueau commented on #18
@tljesse
i am pleased that it is now working for the web and android platform.
on iOS can you explained a bit more
you have  a first issue `Failed to set audio session category`
and a second issue on the isPlaying function
?
 Are you working with the 2.3.0-beta.4
on iOS, you need to set your app Capabilities Background Modes (Audio and AirPlay) in Xcode before compiling

[2020-08-24 18:06] jepiqueau commented on #19
@itsmebharat Did you had time to check?

[2020-08-24 18:07] jepiqueau commented on #20
@eliagentili Any news?

[2020-08-24 18:54] tljesse commented on #18
Sorry for the confusion, the first issue, audio session I [commented out lines 53-61](https://github.com/tljesse/capacitor-video-player/blob/master/ios/Plugin/Plugin.swift#L53) and solved the issue there. We already have the Audio and AirPlay background modes enabled so I am really unsure why that error is happening.

The second issue on the isPlaying function was with the `Unexpectedly found nil`

[2020-08-25 04:31] jepiqueau commented on #18
@tljesse I do not really understand the reasons why you get these 2 errors. i did not get them. Are you running on a simulator or on a physical device ? which model and which iOS version?
Do you see these errors when running the `angular-videoplayer-app-starter` app.
the implementation of the audio session is done as `https://developer.apple.com/documentation/avfoundation/avaudiosession`
Did you c

[2020-08-25 08:06] itsmebharat commented on #19
Hello @jepiqueau sorry for late reply.
I saw your latest plugin code and I think it is not matching with my requirement which you have implemented.

In my app I want to play video by following these steps:
1. Play video from http url  (Working with plugin code)
2. If user download video using download button, save it to internal storage in app sandbox. eg: **file:///data/user/0/com.jeep.capacitor.

[2020-08-25 10:14] itsmebharat commented on #19
@jepiqueau Yes I was assuming same and I did try in the same sample repo you sent me, and I changed url as "internal" but it is not working. I only see white screen when I hit video play button.

![image](https://user-images.githubusercontent.com/5227949/91161920-08586280-e6e9-11ea-9195-889b2bd439bb.png)

[2020-08-25 10:52] jepiqueau commented on #19
@itsmebharat Did you try downloading `https://github.com/jepiqueau/angular-videoplayer-app-starter` i updated it  so it should work tell me if not

[2020-08-25 12:45] jepiqueau commented on #19
@itsmebharat Did you synchronize your project on Android ?

[2020-08-25 12:54] itsmebharat commented on #19
@jepiqueau yes I did.

`npx cap sync`

I was using stencil repo not angular.

[2020-08-25 14:54] jepiqueau commented on #19
@itsmebharat No i am talking in Android Studio `sync project with gradle files` and do you have `    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>` in your manifest file Do you have any videos in your
`data/media/0/ Movies/ folder? Now thinking about it if there is no video you got a white screen and you cannot get out which is a bug so may be this is your case?

[2020-08-25 15:02] itsmebharat commented on #19
@jepiqueau And when i put video in the external storage it is working.

![image](https://user-images.githubusercontent.com/5227949/91191145-08208d00-e712-11ea-884b-bff0a7dccc6c.png)

[2020-08-25 15:07] itsmebharat commented on #19
@jepiqueau one suggestion, on the video selection page if I click back button, I should go back to the previous screen, there is no way to go back without playing video and hit back. I hope that make sense. Thanks

[2020-08-25 15:37] jepiqueau commented on #19
@itsmebharat Yes you right but as it is a fragment the onBackPressed doesn't work so i am doing it right now with a notification sending back 0 files found it will be in the next release thanks for helping me debugging and sorry for any inconvenience on your side. i have also to check on iOS if there is no video. Otherwise when it works is it ok for you meaning that the videos will stand in
`file:

[2020-08-25 16:55] itsmebharat commented on #19
@jepiqueau thank you and no problem to help you in future as well for debugging this plugin.

Sorry but your solution won't work for me as I can't keep downloaded videos in the external storage and visible to user. My app requirement is video should be stored in the app data only and they should be played from that path only and when app gets uninstall all videos should be removed.

[2020-08-25 17:32] tljesse commented on #18
I did have the isPlaying outside of the playerReady event since on web the video did not seem to play automatically. I moved that into the event. Maybe that will solve one issue.

These errors only seem to appear when running on device and not on the simulator. I just tried with the starter app and tried to run the test mp4 video on device through xcode, I am still getting audio session category e

[2020-08-25 17:40] jepiqueau commented on #19
@itsmebharat ok i understand. Can you then clarify
`If user download video using download button, save it to internal storage in app sandbox. eg: file:///data/user/0/com.jeep.capacitor.app/files/video1.mp4 (Working with my code)`
i assume the download button and the storage in  `file:///data/user/0/com.jeep.capacitor.app/files/video1.mp4` is done in your application so i just have to use the url w

[2020-08-25 17:47] itsmebharat commented on #19
@jepiqueau Yes you right, and to workaround this as I mentioned above I had to do two things.

First I had to remove `file://` from my url `file:///data/user/0/com.jeep.capacitor.app/files/video1.mp4` so it become `/data/user/0/com.jeep.capacitor.app/files/video1.mp4`
and changed your code from

`videoPath = "android.resource://" + context.getPackageName() + "/" + url;`
to
`videoPath = url;`

Let

[2020-08-25 17:53] jepiqueau commented on #18
@tljesse Thanks for the feedback, i do not have apple device to test  and it works fine on the simulator. for the `isPlaying` it should be in `playerReady` event but i will add your lines in case of for the audio session i do not know what to do except to add a parameter to let the user decide if he wants to set the audio session or not

[2020-08-25 18:57] tljesse commented on #18
We also ran into another error, this one happened on the simulator and on device. We don't initialize the video player right away it is in a component. When we open the app and then put the app in the background we get this error.

[code]

I figured that was the video player not being initialized yet but trying to call it from the background. If I open up the video player before going to the backg

[2020-08-26 04:29] jepiqueau commented on #21
@zanuka Any news ?

[2020-08-26 16:20] jepiqueau commented on #19
@itsmebharat added to the new release 2.3.0 of the plugin.
you have to define the url as
`application/files/movie.mp4`

## Application Folder

- iOS Plugin
  . "application/files/video.mp4" is :
  `/data/Containers/Data/Applications/YOUR_APPLICATION/Documents/files`

- Android Plugin
  . "application/files/video.mp4" is :
  `/data/user/0/YOUR_APPLICATION_PACKAGE/files/`

i assume that this folders

[2020-08-26 16:26] piccinnigius opened #23 "Unknown protocol: android.resource"
Hi @jepiqueau,
awesome work, but i think that can exist troubles  with android 6 (i know that is obsolete, but you know, requirements...)

you know if is a different url schema on this version?

Thanks so much

[2020-08-26 16:30] itsmebharat commented on #19
@jepiqueau Thank you, I will test and close it.

[2020-08-26 16:43] jepiqueau commented on #18
@tljesse It is a pity that i did not see that before, i update to a new release 2.3.0  which hope solve some of the issues. i will implement it thanks for this

[2020-08-26 16:45] jepiqueau commented on #23
@piccinnigius What do you mean by a different url schema? which version are you using i just published 2.3.0

[2020-08-26 16:48] piccinnigius commented on #23
yes i'm using 2.3.0

i mean if android.resource:// is available in android 6 or not, because of i've the video in raw/my_video but still giving me this error

[2020-08-26 17:20] jepiqueau commented on #23
@piccinnigius  i do not know really . With this release you can try to put videos in the application folder instead of the resource raw folder and see if it work tell me

[2020-08-26 18:09] piccinnigius commented on #23
@jepiqueau i've made a full screen activity with a videoView, with the same uri as video input (and works) while with the plugin doesn't work and i don't know why.
Anyway, forgive my ignorance, how can i put the video in the application folder?

[2020-08-27 09:01] jepiqueau commented on #23
@piccinnigius I think it is a bug that i will try to fix when i move to the Exoplayer i didn't check the video from  asset

[2020-08-27 13:57] piccinnigius commented on #23
perfect @jepiqueau if you need some testing, i'm here :)

instead what about put the video in the application folder? how can do it?

[2020-08-27 17:25] jepiqueau commented on #23
@piccinnigius this is fixed in the new release of `capacitor-video-player@2.3.1-1`
see `https://github.com/jepiqueau/angular-videoplayer-app-starter` to help for implementation
You have to store the video files in the assets/video folder of your application and when you give the url in your app **it must be**:
`"public/assets/video/video.mp4"` for both Android and iOS.
You **should not store them*

[2020-08-27 17:26] #21 closed

[2020-09-03 10:26] ashutoshsingh0223 opened #24 "Support for ionic react"
Is react with ionic supported? If yes are there any examples? I tried modifying the angular code. Couldn't get it to work.

Any hints/help would be very appreciated

[2020-09-04 06:34] jepiqueau commented on #24
@ashutoshsingh0223 First thanks for using the plugin, i do not have an app starter ready for Ionic/React yet. I will come back next week with that app ready, it required that i develop the `react-video-player-hook` module, that was in my plan but i was busy with the @capacitor-community/sqlite plugin. Hope you can wait for it

[2020-09-04 07:01] ashutoshsingh0223 commented on #24
No problem. I will try it out whatever it's ready. Somehow the Cordova plugin I am using keeps on presenting with some problems in ionic-react.

Thanks a lot

[2020-09-09 10:16] piccinnigius commented on #23
Hi @jepiqueau,
i followed your example and i've managed in this way in React. Just another recap as an inheritance to next generations:

0) ensure that you have `capacitor-video-player@2.3.1-1`
1) put the video in (react app root)/public/assets/video/video.mp4
2) use "public/assets/video/video.mp4" as url
3) enjoy!

thanks so much again!

[2020-09-09 10:16] #23 closed

[2020-09-09 12:20] #18 closed

[2020-09-09 12:26] jepiqueau commented on #23
@piccinnigius You said that you have done it in React are you using React Class or React.FC, i am preparing a react-video-player-starter-app with Hook but i am having some difficulties to listen to the events Any ideas on how to do this?

[2020-09-09 12:29] piccinnigius commented on #23
@jepiqueau you prefer to add me to the repo or to post a sample code here?

[2020-09-09 12:34] jepiqueau commented on #23
@piccinnigius can you please put it there and when i will publish i will put you as contributor for the app

[2020-09-09 12:44] piccinnigius commented on #23
perfect! here the code. i've not tested if works on ios!

[code]

[2020-09-09 12:45] piccinnigius commented on #23
@jepiqueau if you need some explainations i'm here! :)

[2020-09-09 13:03] jepiqueau commented on #23
@piccinnigius  Thanks for this, surprise that the componentTag div works. Here as you do not use a dedicated hook for the video-player it is working as videoPlayer is the plugin i am trying this
[code]
see https://github.com/jepiqueau/react-video-player-hook/blob/master/src/useVideoPlayer.ts
so the plugin is available here as mVideoPlayer but not in the component in the App

[2020-09-09 14:59] jepiqueau commented on #23
@piccinnigius Your code works fine on ios

[2020-09-09 15:16] piccinnigius commented on #23
@jepiqueau "so the plugin is available here as mVideoPlayer but not in the component in the App" i'm not understanting what you mean

[2020-09-09 15:23] jepiqueau commented on #23
@piccinnigius in the App you have a component like this

[code]
this is the code i am working on

[2020-09-16 18:32] jepiqueau commented on #24
@ashutoshsingh0223 it has been quite long, but quite few things had to be rewritten. hope you will enjoy. application starter is  https://github.com/jepiqueau/react-video-player-app-starter and you should work with `capacitor-video-player@2.3.1-2` and `react-video-player-hook@0.0.1`

[2020-09-17 02:20] femyThomas opened #25 "Adding quality levels to capacitor-video-player"
Is it possible to add resolution switching to the video player. if yes, are there any examples ?.

[2020-09-17 03:24] ashutoshsingh0223 commented on #24
Thanks a lot

[2020-09-17 09:19] jepiqueau commented on #19
@itsmebharat as i didn't hear anything, i assume you test it and it is working so i close the issue

[2020-09-17 09:20] #19 closed

[2020-09-17 09:21] jepiqueau commented on #20
@eliagentili as i didn't hear anything from you, i assume that everything is working find now so i close the issue

[2020-09-17 09:21] #20 closed

[2020-09-17 09:36] jepiqueau commented on #24
@ashutoshsingh0223 Thanks, that is the first release, i may change few things in the future to enhance the code as using React.FC with Hooks it's quite new for me and should be improved. i close the issue

[2020-09-17 09:36] #24 closed

[2020-09-17 09:37] ashutoshsingh0223 commented on #24
Yes. Should move to functional complements slowly.

[2020-09-17 09:38] ashutoshsingh0223 commented on #24
I reopened it by mistake. Please close this

[2020-09-17 09:38] jepiqueau commented on #25
@femyThomas There is nowhere in the plugin i used resolution, the resolution is given by the video url that you are giving

[2020-09-18 11:47] jepiqueau commented on #23
@piccinnigius i finally finalize the app in using the `react-video-player-hook` see `https://github.com/jepiqueau/react-videoplayer-hook-app`. Can you make a PR to add yourself to the list of contributors at the end of the README, i will accept it. If you have any comments feel free. I may rework on the `react-video-player-hook` to not use `useCallback` to  wrap library methods and to better deal

[2020-09-18 16:38] piccinnigius commented on #23
@jepiqueau glad to be part with, i will integrate in my projects and helps you when needed, thanks so much!

[2020-09-23 05:06] elskwid opened #26 "Any plans to support embedding on iOS and Android"
Hi @jepiqueau!

Thank you for a great plugin. We are evaluating using your library for a client project and require that videos be embedded on the iOS and Android platforms - with the ability to enter fullscreen mode from there.

Do you have any plans to add support for this? We're open to talking about potentially sponsoring this work as well. 😄

Thanks again!

[2020-09-23 05:10] elskwid opened #27 "Any plans to add Chromecast support"
Hi @jepiqueau!

As I mentioned in #26, we're evaluating this library for a client project. One of the requirements is to be able to use Chromecast to play the videos (at least on Android).

Have you thought about adding Chromecast support at all? It looks like ExoPlayer has a Chromecast plugin but we're not sure about iOS support. We would be open to sponsoring this work if you're interested.

Tha

[2020-09-23 06:39] jepiqueau commented on #26
@elskwid You have to be more specific,
 - Is it for PWA apps?  in that case there is already an "embedded" mode for web platform and you can run the PWA app on all platforms ( Web, iOS, Android).
 - Is it for Native apps? in that case it is not easy as you must access the capacitor view controller meaning that is a complete view that you have to define. In that case you could provide a title, a vi

[2020-09-23 07:06] jepiqueau commented on #27
@elskwid I do not have any plans, i am not familiar with the Chromecast technology. it would also be difficult to test as i do not have a physical iOS device and i am not sure that we can test this from a simulator

[2020-09-23 16:09] elskwid commented on #26
@jepiqueau Thanks for the response.

This would be for native apps. We have an entertainment application built and submitted to the various app stores using Ionic React.

In terms of how it's used, we're only ever playing a single video per view, so there is no need to display multiple videos. It's currently using the native players on iOS and Android, which are able to display small, "embedded" v

[2020-09-23 16:27] jepiqueau commented on #26
@elskwid So it is the View Single Post that you would like to have in native. I mean that you have a Ionic/React Page showing the List of posts and when the user select one post out of the list the single post view is build up directly in native. so you will have to specify the format of this page Post Header size (top, left, width, height) and the text size and font (fonts are different in iOS th

[2020-09-23 16:33] jepiqueau commented on #27
@elskwid i look a bit at this for android it seems to be feasible (not all the video types work well). you need in fact to have two players one standard ExoPlayer as now and one CastPlayer so when it cast to the TV the video is not running any more on the device. We will have to see how this could work through the capacitor bridge

[2020-09-23 17:57] elskwid commented on #26
@jepiqueau Only the video player is actually native. We don't build up any views in native - our views are the Ionic Hybrid views - meaning, we have a React component hierarchy with a node using the `<video>` tag, which relies on the native players on iOS and Android.

We're currently just letting the devices do what they want to do with the video, which is in `m3u8` format.

Does that make sense?

[2020-09-23 22:36] ruudboon opened #29 "Full screen method"
Would it be possible to add a fullscreen event? I would like to trigger fullscreen video from my app.
I can imagine this isn't technically possible but maybe it is :D

[2020-09-24 05:50] jepiqueau commented on #26
@elskwid No it doesn't, i do not understand how from the <video> tag you call the `capacitor-video-player` Have you look at `https://github.com/jepiqueau/react-video-player-app-starter` which demonstrates how to use the player.

[2020-09-24 08:41] jepiqueau commented on #29
@ruudboon Do you mean a fullscreen event? , which will return true or false

[2020-09-24 19:18] ruudboon commented on #29
No, a method to trigger fullscreen from JS. I'm thinking about a page in my app that will display a countdown and small preview of a streaming video. On 0 I want to launch it fullscreen.

[2020-09-25 08:58] jepiqueau commented on #29
@ruudboon Is it for Web platform or/and Native platforms? For the time being on Native is always fullscreen.

[2020-09-25 09:30] ruudboon commented on #29
@jepiqueau Web app. But maybe I will switch to native. Fullscreen in more important then embed for me.

[2020-09-25 09:47] jepiqueau commented on #29
@ruudboon Ok i will have a look but it will be only for web app.

[2020-09-25 09:48] ruudboon commented on #29
@jepiqueau Thnx! appreciate it.

[2020-09-25 09:51] jepiqueau commented on #29
@ruudboon is it something urgent? It will accessible through api. i will see the feasibility. It may be also interesting to double click on the embedded video to get it fullscreen

[2020-09-25 09:53] ruudboon commented on #29
@jepiqueau No it's not urgent at this point. Gonna work this weekend on a proof of concept. Got some more boxes too thick. If it all pans out I probably need this functionality in a few months.

[2020-09-30 06:25] jepiqueau commented on #26
@elskwid Any news ?

[2020-10-08 09:21] lapamplemousse opened #30 "Player not working for ionic 4 app"
Thank you for providing this player is excellent!!

I was using the old version of the plugin with my ionic 4 app and was working fine except when I rotated the screen it would restart the video.

I know this was fixed in the newer update so I updated the video player yesterday. and the player does not appear at all. I do not get any errors I am just faced with an  empty screen.

Have followed the

[2020-10-08 13:05] jepiqueau commented on #30
@lapamplemousse Hi thanks for using the plugin. Are you using it in a Web app and/or Native Apps?
I assume that your page component from where you call the plugin is name `my-page` meaning that in your `my-page.html` file you must have somewhere
[code]
Now in your `my-page.ts` you must have:

[code]
This should work, i did not test it as i am not using Ionic4 anymore.
you can have a look at `https

[2020-10-14 09:59] lapamplemousse commented on #30
Thanks for the speedy reply mate! This got it working on the web the difference being the selector in the component. The automated selector when I generate a page is "app-my-page" removing the "app-" fixed it.

However I am encountering issues when trying to run in android studio. After amending the MainActivity.java as seen in the instruction, I then try and run the project.

In the Java compiler

[2020-10-15 16:12] jepiqueau commented on #30
@lapamplemousse you have to be in androidx
the `build.gradle` (Project: android) should be
[code]
the `variables.gradle`
[code]
the `build.gradle` (Module:app)
[code]
the `gradle.properties`
[code]

the`MainActivity.java`
[code]
Hope this will help you making it working

[2020-10-16 15:56] lapamplemousse commented on #30
Yup that is all sorted thanks for your help I am extremely grateful.

[2020-10-16 15:56] #30 closed

[2020-10-17 06:45] jepiqueau commented on #30
@lapamplemousse Great !!!

[2020-10-17 06:46] #26 closed

[2020-10-17 06:47] #25 closed

[2020-10-18 02:25] vijayt27 opened #31 "Is there way to configure nodownload option on this plugin?"
Hi, thanks for this plugin, its really good. Worked well for our hybrid app which we are trying using ionic/angular and capacitor.

We are trying to prevent the "download" option from the video, looks like there is a way from video element to add below tag

`controlsList="nodownload"`

Is there an easy to set this as property or configure when we use "this.videoPlayer.initPlayer".

Appreciate any

[2020-10-19 11:45] jepiqueau commented on #31
@vijayt27 i will have a look

[2020-10-19 14:54] vijayt27 commented on #31
@jepiqueau - Thanks, I do have one workaround on this, added below js code after the initplayer. It works fine for my usecase.

`document.querySelector('video').setAttribute('controlsList', 'nodownload');`

[2020-11-07 08:10] Sudhir22sep opened #32 "Youtube embedded videos are not playing"
Need to add youtube url with bypass dom santizer

[2020-11-07 15:25] jepiqueau commented on #32
@Sudhir22sep Thanks for trying to use the plugin. Sorry, this plugin is not supporting embedded YouTube url. I will clarify this in the doc

[2020-11-16 12:27] lapamplemousse opened #33 "Screen falling asleep"
My screen is falling asleep while the video is playing. So I have to keep touching it to keep the screen bright and prevent it from turning off al together. are there any fixes for this?

[2020-11-17 08:28] jepiqueau commented on #33
@lapamplemousse which platform ? after how long of the video playing it is happening? Is it not a parameter to set in your device?

[2020-11-18 03:46] rasyidialwee opened #34 "Apps Crash on Android"
Hello, @jepiqueau thanks for creating the plugins. I tried to use the plugin in Android 9 as my target. I added the required class in MainActivity as instructed. I also created the the raw folder and insert my video.mp4 in the folder.

here is my code in typescript for reference
[code]

when i try to run it on emulator, i got this error
[code]

is there anything that i misconfig?

[2020-11-19 07:19] jepiqueau commented on #34
@rasyidialwee Which version of the plugin are you using?  According to the API doc of the latest release:
[code]
so the url must be `"public/assets/video/video.mp4"`

[2020-11-25 09:12] LiLeiAndroid opened #35 "Add a back arrow on the top left would be better when the screen is landscape."

[2020-11-25 18:47] jepiqueau commented on #34
@rasyidialwee any news, if it works can you close the issue

[2020-11-25 18:48] jepiqueau commented on #35
@LiLeiAndroid you mean on the web platform?

[2020-11-25 18:49] jepiqueau commented on #33
@lapamplemousse Did you solve this ? if yes can you close the issue

[2020-11-25 18:50] #32 closed

[2020-11-25 18:59] lapamplemousse commented on #33
Sorry I did not see your reply. I have only tested it on android. It will fall asleep with whatever time I have set my screen to fall asleep with inactivity in the android settings.

So If I have it in my settings the screen should fall asleep with 30 seconds of inactivity, I will have to touch my screen every thirty seconds to watch the video.

[2020-11-26 01:06] LiLeiAndroid commented on #35
@jepiqueau on android platform.

[2020-11-26 06:44] jepiqueau commented on #33
@lapamplemousse Did you look at the optimize settings for battery `https://www.youtube.com/watch?v=7iPVNN3ZxWw`

[2020-11-26 06:45] jepiqueau commented on #35
@LiLeiAndroid On android platform you have to use the back press button

[2020-11-26 07:36] LiLeiAndroid commented on #35
@jepiqueau  Now more and more people use the full screen and hide the physical back button. If you add a back button on the top of the controller view, there would be a better user experience, just a suggestion😁

[2020-11-26 11:30] jepiqueau commented on #35
@LiLeiAndroid ok thanks for the suggestion. I will have look to see how it is feasible for the next release. These days, I am too busy in the refactor of @capacitor-community/sqlite plug-in to distract myself from it. I will keep you in touch when done thanks for your patience

[2020-11-26 12:04] lapamplemousse commented on #33
Yes I have mine set to one minute. but I would have thought a video player should ignore this as you are using the screen. you are playing a video.

[2020-11-26 17:49] jepiqueau commented on #33
@lapamplemousse i will try to dig out and find something. I currently busy in the refactor of `@capacitor-community/sqlite` plugin so i will look at this after. Thanks for your patience

[2020-11-27 01:44] LiLeiAndroid commented on #35
@jepiqueau no problem, good luck!

[2020-11-27 16:39] rasyidialwee commented on #34
sorry for the late reply,

After i change the path as you suggested, the error were gone but now, the video wont appear anywhere

I am using Android API 28 as target and mode set to fullscreen.

[2021-01-09 12:29] jepiqueau commented on #33
@lapamplemousse Thank for your patience, the refactor of `@capacitor-community/sqlite` plugin took me more time that i thought. This issue should be solved in release 2.4.5-1 of the plugin. Tell me if it works on your side.

[2021-01-09 13:15] jepiqueau commented on #34
@rasyidialwee I come back, the refactor of `@capacitor-community/sqlite` took me more time that foreseen. Have you still this issue. I updated the plugin this morning to use @capacitor/core2.4.5 . i updated also `https://github.com/jepiqueau/angular-videoplayer-app-starter` so can you test it on your side and tell me if it's work

[2021-01-09 13:19] jepiqueau commented on #31
@vijayt27 i come back on the maintenance of this plugin after a long period working on the refactor of `@capacitor-community/sqlite`. Are you looking for this `nodownload` for the Web and/or Electron  platforms not for native ones (Android, iOs)?

[2021-01-09 16:51] jepiqueau commented on #35
@LiLeiAndroid I am back, this is solved in the release 2.4.5-2 of the plugin

[2021-01-10 07:22] rasyidialwee commented on #34
Thanks, great work btw. I checked out the angular-videoplayer-app-starter and its working well now web and android.
However I got some error after updating the package.

`npm run update` cant be run because the script is missing

after i run `npm update`, I tried to run `npm run build` or `ionic build`, both giving error on typescript version.

Looking to try this on my project. Will update you la

[2021-01-10 11:20] jepiqueau commented on #34
@rasyidialwee You have to to` npm i --save-dev typescript@4.0.5 ` it is a mistake in the package.json

[2021-01-10 11:41] jepiqueau commented on #34
@rasyidialwee i did update the `angular-videoplayer-app-starter` package.json

[2021-01-10 14:50] rasyidialwee commented on #34
alright thank you

On Sun, Jan 10, 2021 at 7:41 PM QUEAU Jean Pierre <notifications@github.com>
wrote:

--
*Rasyidi Alwee*
*Software Engineer*

[2021-01-12 10:21] jepiqueau commented on #33
@lapamplemousse As you did not come back i close the issue

[2021-01-12 10:21] #33 closed

[2021-01-12 10:22] jepiqueau commented on #35
@LiLeiAndroid As you did not come back i close the issue

[2021-01-12 10:22] #35 closed

[2021-01-12 10:23] jepiqueau commented on #34
@rasyidialwee i close the issue

[2021-01-12 10:23] #34 closed

[2021-01-12 10:40] rasyidialwee commented on #34
Okayy

On Tue, Jan 12, 2021, 18:23 QUEAU Jean Pierre <notifications@github.com>
wrote:

[2021-02-05 03:44] lizzie8023 opened #37 "getCurrentTime"
In iOS, getCurrentTime value Always will be 0

[2021-02-05 03:46] #37 closed

[2021-02-10 10:35] oliverandersencox opened #38 "Android build errors"
When i try and build with android i get a bunch of errors. I've followed the guide exactly.
<img width="1204" alt="Screenshot 2021-02-10 at 10 34 15" src="https://user-images.githubusercontent.com/6772168/107498397-a3f06900-6b8b-11eb-951c-cb48d2bb1dc2.png">

[2021-02-11 05:46] jepiqueau commented on #38
@oliverandersencox Can you share your package json file? which version of the plugin are you using ? which version of @capacitor/core ? which Framework Ionic/Angular, Ionic/React, Ionic/Vue ?

[2021-02-11 06:04] jepiqueau commented on #38
@oliverandersencox Have you try to clone https://github.com/jepiqueau/angular-videoplayer-app-starter Does it work ?.  I clone it this morning and do not have any problems. the package json dependencies are
[code]
after the first build, have you run
[code]
Did you modify the MainActivity.java
[code]
If you do all this, it should work. if not tell me

[2021-02-16 12:21] jepiqueau commented on #38
@oliverandersencox Any news?

[2021-02-19 08:53] oliverandersencox commented on #38
@jepiqueau yes, it appears the error was from another video package! thanks

[2021-02-19 09:13] jepiqueau commented on #38
@oliverandersencox no problems you are welcome i am glad that you fixed it so i close the issue

[2021-02-19 09:13] #38 closed

[2021-02-24 20:34] Shanmt commented on #19
@jepiqueau , I tried the same in my Android.  Passed  the URL as `/data/user/0/APPLICATION_PACKAGE/files/1.mp4`. But video is not playing. I tried with files `file:///data/user/0/APPLICATION_PACKAGE/files/1.mp4` also. Both not working. Am I missing something. Thanks You.

[2021-02-25 12:49] jepiqueau commented on #19
@Shanmt thanks for using the plugin. Ss mentioned above the url should be `application/files/movie.mp4` or in your case `application/files/1.mp4`

[2021-02-25 13:42] Shanmt commented on #19
@jepiqueau Thank you. It works. :)

[2021-03-21 21:00] AnasProgrammer2 opened #39 "capacitor-video-player aspect ratio fill"
Hello
how to add button or make video play with aspect ratio fill

[2021-03-22 13:35] jepiqueau commented on #39
@AnasProgrammer2 I do not understand what do you mean by aspect ratio fill. A video has it own size and it displayed according to its size

[2021-03-22 15:30] AnasProgrammer2 commented on #39
hello , thanks for reply
now when play video , i can't find button ( fill the screen)  ,
![alt text](<a href="https://ibb.co/W2Xdc8d"><img src="https://i.ibb.co/4VLDjvD/Whats-App-Image-2021-03-22-at-6-28-31-PM.jpg" alt="Whats-App-Image-2021-03-22-at-6-28-31-PM" border="0"></a>)

[2021-03-22 17:44] AnasProgrammer2 opened #40 "add cc subtitle to video"
hello , how to add subtitle to video ? (ios , Android)

[2021-03-27 21:02] AnasProgrammer2 commented on #40
any update ?

[2021-03-28 07:36] jepiqueau commented on #40
@AnasProgrammer2 Can you provide a link to a video and a link to a subtitle.vtt file for testing purpose

[2021-03-28 07:46] jepiqueau commented on #40
@AnasProgrammer2 Which OS Android, iOS, Web first ?

[2021-03-28 07:49] jepiqueau commented on #40
@AnasProgrammer2 Which subtitle format?

[2021-03-28 15:54] AnasProgrammer2 commented on #40
Hello
Is CC subtitle ( srt or VTT)
In android your plugin use expplayer
And exoplayer is supported subtitle

https://medium.com/@kidkodindia/showing-subtitles-lyrics-on-android-exoplayer-98a88a7b53b2

And in ios your plugin

https://developer.apple.com/documentation/avfoundation/media_playback_and_selection/selecting_subtitles_and_alternative_audio_tracks

[2021-03-28 15:54] AnasProgrammer2 commented on #40
I create my app for ios and android

[2021-03-28 15:56] AnasProgrammer2 commented on #40
Can you use any subtitle movies you need
https://subscene.com/browse/popular/all/1

[2021-03-30 09:21] jepiqueau commented on #40
@AnasProgrammer2 This has been fixed for Android platform with release 2.4.7-1. Demonstrated in https://github.com/jepiqueau/angular-videoplayer-app-starter.git. Tell me if it works on your side. I will start looking for implementation in iOS.

[2021-03-30 09:23] jepiqueau commented on #39
@AnasProgrammer2 what is the size of the video. Can you give me the link to that video?

[2021-03-30 17:24] AnasProgrammer2 commented on #40
thanks man , i will test it  then inform you

[2021-03-30 17:57] AnasProgrammer2 opened #41 "double tab to forward 10 Sec"
hello , please if you can update your play with new Feature  ( Double tap to screen to forward 10 Sec)

[2021-03-30 18:01] AnasProgrammer2 commented on #39
hello , what i mean like that button in default ios player ( fill the screen )

<a href="https://ibb.co/fDKVPMY"><img src="https://i.ibb.co/KKQc36j/Whats-App-Image-2021-03-30-at-8-59-05-PM.jpg" alt="Whats-App-Image-2021-03-30-at-8-59-05-PM" border="0"></a>

<a href="https://ibb.co/FHwx37S"><img src="https://i.ibb.co/qJsyj1t/Whats-App-Image-2021-03-30-at-8-58-57-PM.jpg" alt="Whats-App-Image-2021-03

[2021-03-31 07:25] jepiqueau commented on #39
@AnasProgrammer2 This button works fine on iOS, so i assume your question was relative to android. Try to be clearer in your description of the issue. I use the players as they come by default. So iOS AVPlayer got that feature and Android Exoplayer do not have that feature implemented. So you will not find it in Android or on Web platform.

[2021-03-31 07:28] jepiqueau commented on #41
@AnasProgrammer2 Forward or Backward  for 15s feature is already implemented in the controls of both iOS and Android players. So i do not see the need for this. So what is behind your request?

[2021-03-31 15:52] AnasProgrammer2 commented on #40
Any update please

[2021-03-31 18:07] AnasProgrammer2 opened #42 "Change subtitle text color"
Hello
How to change font-style / size / color / background color of subtitle (android)

[2021-04-01 06:29] jepiqueau commented on #42
@AnasProgrammer2 You already ask for it in #40 so no need to ask again. It is done but it will be issued in the meantime that the implementation in the iOS plugin. So be patient

[2021-04-03 08:19] jepiqueau commented on #40
fix in release 2.4.7-2

[2021-04-03 08:19] #40 closed

[2021-04-03 08:20] #41 closed

[2021-04-03 08:20] jepiqueau commented on #42
@AnasProgrammer2 fix in release 2.4.7-2

[2021-04-13 08:32] #42 closed

[2021-04-13 08:33] #39 closed

[2021-04-17 17:31] marfrede opened #43 "Invalid platform: @capacitor-community/electron"
[code]

[2021-04-17 17:44] marfrede opened #44 "Cannot resolve symbol 'jeep'"
in MainActivity.java
`import com.jeep.plugin.capacitor.CapacitorVideoPlayer; // Cannot resolve symbol 'jeep'`

[2021-04-17 18:13] marfrede opened #45 "StringIndexOutOfBoundsException on initPlayer on android"
android studio error message when initPlayer() is called:
[code]

my code:

[code]

[2021-04-18 06:10] jepiqueau commented on #43
@marfrede from your app remove the electron folder and run the following
[code]
After this it should work, if not send me your package.json file

[2021-04-18 06:14] jepiqueau commented on #44
@marfrede Send me your package.json file

[2021-04-18 06:16] jepiqueau commented on #44
@marfrede did you look at `https://github.com/jepiqueau/angular-videoplayer-app-starter` have you clone it ? Did it work?

[2021-04-18 07:08] jepiqueau commented on #45
@marfrede
remove line
[code]
replace line
[code]
by
[code]
Tell me if it is not working

[2021-04-18 07:10] marfrede commented on #43
Wow, thanks for the quick answer!

I wonder wether this step is necessary at all, when developing for android and ios only?

[2021-04-22 18:06] marfrede commented on #44
package.json
[code]

[2021-04-22 18:12] marfrede commented on #44
I am trying https://github.com/jepiqueau/angular-videoplayer-app-starter

[2021-04-22 18:31] marfrede commented on #44
Every videotype worked! On both API on & off.
Single exception: the second last option 'TEST FULLSCREEN APPLICATION VIDEO' failed to play on both api on & off)
Testet native on android, Samsung Galaxy S10

[2021-04-23 09:14] jepiqueau commented on #44
@marfrede You must update @capcitor/core
run
[code]
then remove the folder android from your app
and
[code]
register the plugin in your main activity:

[code]
and then
[code]
this should work

To have the `TEST FULLSCREEN APPLICATION VIDEO` working you must copy a video to the /data/user/0/YOUR_APPLICATION_PACKAGE/files/YOUR_VIDEO.mp4 of your device.

[2021-04-23 16:55] marfrede commented on #44
error disappeared, but my app keeps crashing now, everytime initPlayer is called. No console Output.

[2021-04-23 16:57] #45 closed

[2021-04-24 08:33] jepiqueau commented on #44
@marfrede This is strange, Can you share your app or reproduce the bug on a small app and share it on github

[2021-04-24 08:36] jepiqueau commented on #43
@marfrede You do no need these steps if you develop only for iOS and Android

[2021-04-24 08:36] #43 closed

[2021-05-02 05:36] jepiqueau commented on #44
@marfrede I assume this is solved as you didn't come back. so i close it

[2021-05-02 05:36] #44 closed

[2021-05-02 10:28] marfrede commented on #44
@jepiqueau sadly I don't have much time to try to reproduce it and went with a different solution for my problem.

But I very much appreciate all of your help!

When I'll find the time to fix my problem, I'll comment here again for common interest.

[2021-06-17 02:03] LuisManuel1983 opened #46 "Compatibility with Capacitor 3"
Hi, I've been using this plugin with an app build on Ionic with Capacitor 2 and it works great, by far this is the best option I've found. However, I decided to migrate the app to capacitor 3 because it helps with various aspects of my app, so when doing the migration I also updated this plugin to version "3.0.0-rc.1" and when I try to play a video, it keeps crashing and I have no idea what is hap

[2021-06-17 05:55] jepiqueau commented on #46
@LuisManuel1983 yes it is compatible if you use the release 3.0.0-rc.1. Look at angular-videoplayer-app-starter tag 1.0.0-rc.1.

[2021-06-17 06:06] jepiqueau commented on #46
@LuisManuel1983
const player = await setVideoPlayer ()
this.videoPlayer = player.plugin
And after you do as before
this.videoPlayer. addListener('jeepCapVideoPlay',...)
this.videoPlayer.play () ...

[2021-06-17 06:11] jepiqueau commented on #46
@LuisManuel1983 do not forget to delete from your app the android and iOS folder which are not compatible and do
npm run build
npx cap add android
npx cap add ios
npm run build
npx cap sync
npm run build
npx cap copy
npx cap open android
In Android Studio check that the gradles release is 7.0 otherwise set it up to 7.0 synchronize the project with gradle and build your app it should work.

[2021-06-17 20:34] LuisManuel1983 commented on #46
Hi, thanks for the quick reply! sorry, I didn't realize you had made a demo for capacitor 3, because the readme is pointing [here ](https://github.com/jepiqueau/angular-videoplayer-app-starter/tree/0.6.3) but the version with cap 3 is [here](https://github.com/jepiqueau/angular-videoplayer-app-starter)

I'll start working today and tomorrow probably will update after tests are succesful

Thanks ag

[2021-06-18 02:54] LuisManuel1983 commented on #46
Ok I did everything you mention @jepiqueau including deleting the android folder (ios I don't manage in this computer) and the www folder, the steps to build and compile... and I keep getting the same error. This is my console when inspecting android device:

![image](https://user-images.githubusercontent.com/16975334/122498575-5bbfd800-cfbd-11eb-8d41-dcecf8553861.png)

The behavior that I see is

[2021-06-18 08:59] jepiqueau commented on #46
@LuisManuel1983 can you check in AndroidStudio file->project structure that android gradle plug-in is 4.4.1 and gradle version 7.0. Did you test the angular-videoplayer-app-starter as for me it works

[2021-06-18 09:06] LuisManuel1983 commented on #46
Hi, yes, I checked the gradle version, is 7.0, also I did test the angular-videoplayer-app-starter and works locally, but then again, when I test my own ionic app it also works locally, the problem is when I test the apk in Android

[2021-06-20 00:22] LuisManuel1983 commented on #46
Hi, I made a repo using your plugin with a new App that has ionic and capacitor 3:

[https://github.com/LuisManuel1983/ionic-video-demo](https://github.com/LuisManuel1983/ionic-video-demo)

When I test on local computer (web browser) using "ionic serve" all works well:
![image](https://user-images.githubusercontent.com/16975334/122658434-42449a80-d13b-11eb-9e4f-d67cbd2e3284.png)

But when I tested

[2021-06-20 07:10] jepiqueau commented on #46
@LuisManuel1983 did you test it on Android device simulator which one or on a real device the image you gave me for the error is a chrome image not the console from androidstudio

[2021-06-20 10:08] jepiqueau commented on #46
@LuisManuel1983 I look at your example it works on the browser as the browser accepts embedded videos which is not the case of Android and iOS. your HTML file should be different for browser and native Look carefully at the `angular-videoplayer-app-starter` and modify your code for NATIVE only FULLSCREEN mode is available. hope this help.

[2021-06-20 15:02] LuisManuel1983 commented on #46
I tested on a real device (Redmi note 9s with android 11), what I'm doing is I install the apk directly to my phone and connect via usb to my computer, then I inspect via chrome dev console, I then to not test on android simulator and just go directly to a real device, but I will try that to see if something else shows up

[2021-06-20 15:53] LuisManuel1983 commented on #46
My app is not supposed to be for web, is for android/ios only, so I never set up different files for web and native, given that this app is intended for native only. Regarding the mode, I have NEVER used "embeed" mode, always fullscreen:

![image](https://user-images.githubusercontent.com/16975334/122679133-b1f86b00-d1b7-11eb-8d51-116f383c747f.png)

![image](https://user-images.githubusercontent.c

[2021-06-20 16:05] LuisManuel1983 commented on #46
All right, I tested on android simulator, same error, I cleaned the console just before clicking the image to play the video, and this is the stack trace:

![image](https://user-images.githubusercontent.com/16975334/122680885-8aa59c00-d1bf-11eb-971c-7516e8a19948.png)

### **Complete trace:**

2021-06-20 12:00:40.623 8714-8714/io.ionic.starter I/Capacitor/Console: File: http://localhost/src_app_vid

[2021-06-21 04:10] LuisManuel1983 commented on #46
Ok I finally solved it and the solution couldn't be more simple, just add the variables (declared with null values) for subtitle, language and subtitle options:

![image](https://user-images.githubusercontent.com/16975334/122704433-ba858b80-d221-11eb-8b28-455320c02f7a.png)

I came to this after analize the log from my error and see this line of code in the plugin:
![image](https://user-images.gith

[2021-06-21 06:53] jepiqueau commented on #46
@LuisManuel1983 I am pleased that you find what causing the error.I will fix this in the next release. It is my vacation time so it was hard to answer you just with my phone device. The test should be subtitle!=null or subtitle.length > 0

[2021-06-21 07:45] jepiqueau commented on #46
@LuisManuel1983 this has been fixed in 3.0.0-rc.2. Thanks for your help in debugging.

[2021-06-21 13:03] LuisManuel1983 commented on #46
No, thanks to you, this plugin is really awesome, sorry to have bother you during vacation time

[2021-07-12 06:57] pankajcodealchemy commented on #26
@jepiqueau Thank you for a great plugin, is there any updates on this issue, in my native apps(iOS/android) video is not play in embedded mode, so have you plan to support embedding in iOS and Android native?

[2021-07-17 12:02] abutizi opened #47 "Plugin crashes"
Thank you for this plugin, however, it always crashes with this error.
I just cannot figure out what is wrong? I've spent 2 days with it and I'm running out of idea.

I'm only running it on Android.

This is the error I'm getting from logcat whenever I call the initPlayer

  2021-07-17 13:51:34.574 2488-4658/io.socialvibes.app E/Capacitor: Serious error executing plugin
      java.lang.reflect.Inv

[2021-07-17 19:13] jepiqueau commented on #47
@abutizi Can you share your package.json file and the Main activity java file

[2021-07-18 09:34] #46 closed

[2021-08-25 07:08] kochax commented on #47
Same problem here.

packages.json

![image](https://user-images.githubusercontent.com/11221552/130742720-295cd453-0449-4469-bb9c-5e824d0fecb2.png)

MainActivity

![image](https://user-images.githubusercontent.com/11221552/130742744-adaea33e-5fb6-4762-90da-b1e23df2b818.png)

Error log:

`2021-08-25 08:49:57.721 30629-30702/at.energy42.energy42 E/Capacitor: Serious error executing plugin
    java.la

[2021-08-30 08:47] jepiqueau commented on #47
@kochax Thanks for reporting this, i was really busy in updating the `@capacitor-community/sqlite` plugin. Did you remove the android folder and redo `npx cap add android` Can you share the code of your app where you call the plugin? i am going to update it to `@capacitor/core@3.2.0` as i could not replicate the crash in the `angular-video-player-app-starter`. Which framework are you using Angular

[2021-08-31 06:05] jepiqueau commented on #47
@kochax hi, each time you update to a new release of the plugin you must `sync`. i also as a good practice remove the android folder from the app and add it again with `npx cap add android` to make sure that everything is inline with the `@capacitor/core` and `@capacitor/android`. So i will close the issue. Thanks for using the plugin

[2021-08-31 06:05] #47 closed

[2021-09-02 14:48] mcpeakdb opened #48 "Playback for files created by Capacitor.convertFileSrc"
Hello! I'm having trouble with playback of file created by Capacitor.convertFileSrc() but only on iOS. The message I get back from the initPlayer is "filePath is not implemented". The path of these files on iOS begins with capacitor:// rather than http://, which I believe to be the root of the problem but was unable to figure out a workaround.

Any suggestions or ideas for a fix? Or possibly a dif

[2021-09-02 17:06] jepiqueau commented on #48
@mcpeakdb Can you tell me were your file is located on the iOS device?. can you move the file to
/data/Containers/Data/Applications/YOUR_APPLICATION/Documents/files/[file].mov
in that case you will give `application/files/[file].mov
i never use Capacitor.convertFileSrc()

[2021-09-03 19:10] alfredoalfa opened #49 "Player not playing Base64 video urls"
When i try to play a base64 video url on ios the plugin doesn't play it and the console send this error "file Path not implemented" but the url path is implemented with a base64.

<img width="878" alt="Captura de Pantalla 2021-09-03 a la(s) 3 08 57 p  m" src="https://user-images.githubusercontent.com/10062965/132055105-af95061f-b765-496c-ad02-c00fb104ca19.png">

error log:
⚡️  To Native ->  Capaci

[2021-09-04 12:18] jepiqueau commented on #49
@alfredoalfa Hi thanks for using the plugin. I think the title of the issue is wrong it should be something around this `Player not playing Base64 video urls` i do not think it is specific to iOS. Nowhere in the documentation you will find that the plugin is playing Base64 video urls.  So it should not be an issue as such but a software enhancement. Could you give me an example of where i can find

[2021-09-06 20:26] alfredoalfa commented on #49
@jepiqueau Hi thanks for your answer, we are working on an example of playing base64 video url that you can use to test this behavior.

[2021-09-07 05:11] jepiqueau commented on #49
@alfredoalfa tell me when it is ready

[2021-09-16 15:04] alfredoalfa commented on #49
@jepiqueau  Hi, we decided to don't use  base64 video URL, thanks for all your help.

[2021-09-16 15:04] #49 closed

[2021-09-16 15:26] jepiqueau commented on #49
@alfredoalfa I was trying to implement it I did it for the Web it works well but take a lot of time to create the base64 Video. I have not test it for android and iOS Web.  So if you do not need it I will stop on this

[2021-09-16 15:49] alfredoalfa commented on #49
@jepiqueau I really thank you for all your work, but we decided to don't use base64 video, so you can stop what you are doing.

[2021-09-17 06:01] jepiqueau commented on #49
👍

[2021-09-22 08:16] louisnelza opened #50 "How to get video player to autoplay"
Hi there, love this plugin!

I'm trying to get the video to autoplay. According to the browser rules it has to be muted.

Trying the regular old JS way but still getting blocked.

[code]

Is there a plugin-specific way to do this?

Thanks

[2021-09-22 09:59] jepiqueau commented on #50
@louisnelza unfortunately there is no way so you have to un-muted when it is starting to play. At the early version of the plug-in ` video.defaultMuted  = true` was working but is not anymore you cannot infringe the browser rules

[2021-09-22 11:53] louisnelza commented on #50
Thanks for the feedback @jepiqueau!

[2021-09-22 11:53] #50 closed

[2021-10-01 00:23] yosh1 opened #51 "Is there a way to disable the progress-bar in videos?"
Hi, developer.

Is there a way to disable the progress-bar in videos for ios?

I would like to have a video player with the original controls attribute without the progress-bar.
Is there any best solution?

Thanks.

[2021-10-19 06:27] pedramp20 opened #52 "Setting authorisation header"
I am trying to play a HLS video (m3u8) which requires credentials (signed cookies). Is there a way to set the authorisation header of the xhr when initialising or playing the video player?

[2021-10-19 09:19] jepiqueau commented on #52
@pedramp20  thanks for using the plugin. Your question is for which platform (android, iOS, web browser) ?

[2021-10-20 00:25] pedramp20 commented on #52
@jepiqueau  iOS.

[2021-10-21 07:45] ramses512 opened #53 "Background mode"
Can the background mode be implemented for IOS?

[2021-10-28 20:03] TekiLakshmanSundeep opened #54 "Play videos from External Storage (storage/emulated/0/)"
@jepiqueau  In my application i am storing video files in External storage which is in `storage/emulated/0/Android/data/PACKAGE_NAME/files/my_folder/1.mp4`. I need to play the 1.mp4 using this capacitor-video-plugin version 3.0. So far i got to know that it can play videos from internal storage. Is there any support to play the content from external storage ?

[2021-10-29 14:24] mamane10 opened #55 "Play from folders inside Application Folder"
@jepiqueau Good morning.
In my case, i have to play videos from application storage `application/files/OTHER/FOLDERS/video.mp4` which obviously throws:

To fix this issue, the line 22 in FileUtils:
`path = filesDir + url.substring(url.lastIndexOf('/') + 1);`
Should be like this:
`path = filesDir + url.substring(url.lastIndexOf("files/") + 6);`

Can this be fixed anytime soon?
Thanks in advance.

[2021-10-30 13:38] waberger opened #56 "DCIM folder as URL-Path"
Is it possible to play videos from the Android DCIM folder? I can't get the path to work.

[2021-10-30 14:46] jepiqueau commented on #56
@waberger thanks for looking at the plug-in. Can you please be more specific on which folder do you want to have access. If it is the media folder use 'internal'

[2021-10-31 10:05] jepiqueau commented on #56
@waberger Is it any DCIM folder on internal and/or external?

[2021-10-31 10:25] waberger commented on #56
@jepiqueau it's internal file:/storage/emulated/0/DCIM/Camera/video.mp4

[2021-10-31 12:00] jepiqueau commented on #56
@waberger if you set the url to 'internal' you will get the list of all videos  stored on your device internal and external storage. Can you test it and revert to me.

[2021-10-31 15:30] jepiqueau commented on #56
@waberger i tested on physical device it works, on emulator it doesn't seem to work

[2021-11-04 13:58] waberger commented on #56
internal as url inside the initPlayer method? Or how do i get a list of all videos

[2021-11-04 15:10] jepiqueau commented on #56
@waberger yes, look at angular-videoplayer-app-starter there is an example

[2021-11-06 07:22] jepiqueau commented on #55
@mamane10 thanks for your patience and sorry for the delay. this has been fixed in 3.2.5

[2021-11-06 07:24] jepiqueau commented on #56
@waberger Any progress on this?

[2021-11-06 09:14] mamane10 commented on #55
Alright, Thank you

[2021-11-08 05:33] yelhouti commented on #56
@jepiqueau I face a similar problem, made a PR: https://github.com/jepiqueau/capacitor-video-player/pull/57

[2021-11-08 05:37] yelhouti commented on #55
this is also fixed by: https://github.com/jepiqueau/capacitor-video-player/pull/57

[2021-11-08 08:48] #56 closed

[2021-11-08 08:48] #55 closed

[2021-11-09 05:37] jepiqueau commented on #54
@TekiLakshmanSundeep fix in 3.3.0-1 i got an example `file:///storage/extSdCard/DCIM/Camera/jellies.mp4` in [angular-videoplayer-app-starter](https://github.com/jepiqueau/angular-videoplayer-app-starter). Check if it is working for you

[2021-11-10 04:57] kannanvrn opened #60 "how can we have a quality selector for hls video"
@jepiqueau
I would like to thank you for this package.
i use hls video format as source. I would like to have a quality selector in the player. Based upon which quality is selected from the hls source, player would be able to  pull video from that as is other normal players.
![image](https://user-images.githubusercontent.com/65075379/141052454-e24baab6-2083-45a3-806d-f9dafc055cbb.png)

[2021-11-10 07:38] jepiqueau commented on #60
@kannanvrn thanks for using the player.which platform are you using Web, Android or iOS. Can you give me an example of this selector if it is existing on the Web

[2021-11-11 08:51] jepiqueau commented on #60
@kannanvrn i had a quick look over the web, it seems not to be  a recommended approach to do this as the player will adjust the quality by itself because HLS is an adaptive stream that adjusts its quality depending on the available bandwidth. It seems also that it will bring a lot of complexity in each of the players i am using (AVPlayer for iOS, Exoplayer for Android and hls.js for Web). So i am

[2021-11-11 08:52] jepiqueau commented on #54
@TekiLakshmanSundeep Did you test it?

[2021-11-11 09:00] TekiLakshmanSundeep commented on #54
@jepiqueau Nope.. I'll check it and get back to you.

[2021-11-11 09:02] jepiqueau commented on #54
@TekiLakshmanSundeep 👍

[2021-11-11 09:05] jepiqueau commented on #53
@ramses512 i think what you are asking is more the picture-in-picture mode. I will look at it and depending on the complexity i will decide if it may be implemented

[2021-11-11 15:38] kannanvrn commented on #60
ok @jepiqueau  . Thank You for your reply. I can understand. Am closing this issue.

[2021-11-11 15:38] #60 closed

[2021-11-13 16:48] jepiqueau commented on #53
@ramses512 in the release3.3.1-1 the Picture in Picture mode has been added to the Android Plugin. Can you test it and tell me if it is what you were looking for. Enjoy it

[2021-11-15 14:34] ramses512 commented on #53
I need for IOS thanks you!

[2021-11-15 16:46] nirajhinge opened #61 "Player does not play video on iOS with "filePath not implemented" message"
I am trying to use the player to play fullscreen videos on iOS and Android. I am currently testing it on iOS with the following code:

[code]
When the video is loaded from a web it has a `.mp4` format like this: `https:://www.foo.bar/video.mp4`. This works as expected. I then have a button in the app where the user can select a video from `Photos` in iOS. After the video is selected, the path look

[2021-11-16 14:24] jepiqueau commented on #61
@nirajhinge You have to give me a bit more of your code. what are the value of `props.attachment.path` and `props.attachment.temporary_url` . when you said ` I then have a button in the app where the user can select a video from Photos in iOS` when clicked how do you select the video from Photos. which plugin are you using to revert that path?. In `capacitor-video-player` if you use the `url= "int

[2021-11-17 14:14] jepiqueau commented on #54
@TekiLakshmanSundeep Ok so i close the issue

[2021-11-17 14:14] #54 closed

[2021-11-17 15:05] jepiqueau commented on #61
@nirajhinge this has been fixed in 3.3.1-2, revert to me when tested

[2021-11-18 08:06] jepiqueau commented on #48
@mcpeakdb the alternative way has been fixed in 3.3.1-2 the iOS Plugin  accepts now
  . `file:///var/mobile/Media/DCIM/100APPLE/YOUR_VIDEO`
  . `file:///var/mobile/Containers/Data/Application/YOUR_APPLICATION_ID/tmp/YOUR_VIDEO`
 . `file:///var/mobile/Containers/Data/Application/YOUR_APPLICATION_ID/YOUR_VIDEO`

tell me if it is working for you

[2021-11-18 08:07] jepiqueau commented on #52
@pedramp20 Any progress from your side or i will close the issue

[2021-11-18 11:10] TekiLakshmanSundeep opened #62 "Is there any way to play the WebRTC streams ?"
Any support to play the WebRTC media streams or tracks ??

[2021-11-18 13:21] jepiqueau commented on #62
@TekiLakshmanSundeep Is it for Web plugin only? Can you be more specific on what you want to achieve I do nto know anything about WebRTC

[2021-11-18 16:42] TekiLakshmanSundeep commented on #62
@jepiqueau, It's for mobile plugin. Regarding WebRTC It's a real-time communication capabilities to your application that works on top of an open standard. It supports video, voice, and generic data to be sent between peers, allowing developers to build powerful voice- and video-communication solutions. The technology is available on all modern browsers as well as on native clients for all major p

[2021-11-20 07:07] #52 closed

[2021-11-23 23:00] nirajhinge commented on #61
@jepiqueau Sorry for the late reply but you are right in your assumptions. The video is selected using the [cordova native camera plugin](https://ionicframework.com/docs/native/camera) since for some reason I couldn't use capacitor camera plugin to select videos. A sample of the code looks like this:
[code]
All I needed was the path (temporary or permanent) for the compressed video to so that I co

[2021-11-23 23:00] #61 closed

[2021-12-11 19:22] jepiqueau commented on #53
@ramses512 release 3.3.2 implement PiP for Android and iOS Come back to me when tested

[2021-12-13 18:51] fjeddy opened #64 "Question: Is this just a HTML5 player when used in Electron?"
It's not mentioned anywhere (Or I can't find it), but this is just a HTML5 player when used with Electron? It will only support the common web-formats like mp4, webm and ogg?

[2021-12-14 08:36] jepiqueau commented on #64
@fjeddy Thanks to look at the plugin. In Electron it is the web plugin which is used it as the standard web-formats plus the hls format through the use of hls.js

[2021-12-14 08:38] jepiqueau commented on #53
@ramses512 Have you test it? i spent a lot of time to make it working on iOS so i hope you will look at it. Without answer from your side i will close the issue

[2021-12-14 08:38] #48 closed

[2021-12-14 11:10] #64 closed

[2021-12-14 14:30] ramses512 commented on #53
Working fine, thanks!

[2021-12-14 14:30] #53 closed

[2021-12-23 06:32] lixunyi opened #65 "Question: How to set Embedded model on ios and android?"
I am very grateful to your team for providing such an excellent playback component. At present, due to the need for Embedded model in IOS and android platform, after looking at the documentation carefully and using the use case, we find that this feature has not been implemented on the native platform, so I would like to ask what is the reason why this feature cannot be supported?
Looking forward

[2021-12-23 09:59] jepiqueau commented on #65
@lixunyi thanks for using the plug-in. The simple answer is that I did not find the way after many trials how to do it with capacitor. I may have another look if you have some suggestions they will be welcome

[2021-12-24 09:14] lixunyi commented on #65
@jepiqueau
Thank you for your reply. The previous question stems from my lack of understanding of the way ionic native interacts.
Our current requirement is to display the video player in ionic as in web, but I have tried and found that the video tag of the player will not be created dynamically as long as it is detected in a platform such as ios.
If only this restriction could be removed, it woul

[2021-12-28 17:57] jepiqueau commented on #65
@lixunyi i look back. You can do this in a PWA app which will use the Web part of the plugin and the PWA app will run on iOS and/or Android. As native app iOS or Android the capacitor bridge present a view controller as an entire page so we could use a transparent background color for that native page that let you see your app page but nothing of that app page will be accessible for action. So i d

[2022-01-12 00:27] jmellicker commented on #27
@elskwid Did you ever find a Chromecast solution?

We are also interested in adding Chromecast support to this project, we would be happy to sponsor or co-sponsor the project financially.

Here are some links that might be helpful:

### iOS

- [https://developers.google.com/cast/docs/ios_sender](https://developers.google.com/cast/docs/ios_sender)
    - [https://github.com/googlecast/CastVideos-ios

[2022-01-13 15:17] jepiqueau commented on #27
@jmellicker it is not an easy process and difficult to test i try the last 2 days to use some of the demo apps on Apple simulator for non identified reason it does not show the google cast button, on android i successfully run the apps with the simple player on my physical device but not on emulator but my plugin use Exoplayer to play the video. On web the demo run well. So if you have an idea on

[2022-01-13 23:01] jake-newsom opened #66 "Issues with Android Back Button Crashing App (pictureInPicture)"
We're having issues in a few spots trying to use this plugin on Android 11.

1) Sometimes tapping the video and then tapping the close icon works, however sometimes it crashes the app and gives this error:
`
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.xxxxx.xxxxx, PID: 10011
    java.util.ConcurrentModificationException
        at java.util.ArrayList$Itr.next(ArrayList.java:860)

[2022-01-14 07:10] jepiqueau commented on #66
@jake-newsom thanks for using the plugin. can you share your app or a repro-app on github. Are you using Ionic/Vue or a pure vue3 js ?

[2022-01-14 20:19] jepiqueau commented on #66
@jake-newsom i built up an app see [vite-vue-videoplayer-app](https://github.com/jepiqueau/vite-vue-videoplayer-app) it should help you

[2022-01-14 20:28] jake-newsom commented on #66
@jepiqueau I can give this gist but can't provide the full repo.

https://gist.github.com/jake-newsom/74125ffba80142b3dfda66289b200b4e

This is Ionic Vue, using capacitor 3

[2022-01-15 20:51] jepiqueau commented on #66
@jake-newsom look at [vue-videoplayer-app-starter](https://github.com/jepiqueau/vue-videoplayer-app-starter) i think this works except the video subtitle i will check this tomorrow. For my knowledge it would be nice to share your apiService as i do not know how to use the inject. Hope this will help to make your development

[2022-01-16 11:54] jepiqueau commented on #66
@jake-newsom i have fixed the issue with video subtitle in [vue-videoplayer-app-starter](https://github.com/jepiqueau/vue-videoplayer-app-starter) v0.0.2

[2022-01-16 11:55] #65 closed

[2022-01-17 19:10] jake-newsom commented on #66
@jepiqueau Thanks for the info! Just to make sure I'm understanding, after looking through that project it seems the premise is to just have a page in our router that has nothing in it other than the Fullscreen Player... From another page, you'd tap the watch video button which navigates to this video player page providing the URL as a prop.

Then within that page, you catch the exit event and the

[2022-01-18 06:57] jepiqueau commented on #66
@jake-newsom Yes you right, instead of a page you can also use a ion-modal and dismiss the modal on the exit event. voilà. So i close the issue. Feel free to re-open it if necessary. good luck with your app

[2022-01-18 06:57] #66 closed

[2022-01-18 21:36] jmellicker commented on #27
Yes @jepiqueau, we would love to test, we have many iOS devices! Should we watch for a new branch, or...?

[2022-01-18 21:51] jmellicker opened #67 "feature request > speed control"
A feature that would be useful is the ability for a user to select from a menu of preset speeds for video playback.

Our proposal would be to offer .25, .5, .75, 1x (normal speed), 2x, and 4x.

We forked this plugin a while ago and hired a developer to add some features (for iOS only). The fork is here: [https://github.com/platformpurple/capacitor-video-player-plugin](https://github.com/platformpu

[2022-01-18 23:03] jake-newsom commented on #66
Hey @jepiqueau, still encountering issues unfortunately. We don't want to utilize PictureInPicture. If I disable that in the AndroidManifest then the app crashes when I press the back button on Android 11 while watching a video in full screen.

I made a fork of the example you provided and tweaked that manifest file.
https://github.com/jake-newsom/vue-videoplayer-app-starter

Is there no way to di

[2022-01-19 07:16] jepiqueau commented on #67
@jmellicker i already answer that one on November 11, see issue#60

[2022-01-19 07:19] jepiqueau commented on #27
@jmellicker for the time being i stopped working on that one as i do have to maintain others of my plugins `@capacitor-community/sqlite` & `@capacitor-community/photoviewer` i will tell you when i will look again. Thanks for your understanding.

[2022-01-19 18:47] jmellicker commented on #67
@jepiqueau it looks like [issue#60 ](https://github.com/jepiqueau/capacitor-video-player/issues/60)is about adding a selector for different video resolutions, I was proposing a speed control, so the user could play the video faster or slower.

We are happy to sponsor this feature financially if anyone is interested!

[2022-01-29 09:47] KANekT opened #72 "Error on plat iOS"
⚡️  [log] - isLoading
⚡️  To Native ->  Keyboard hide 41095673
⚡️  TO JS undefined
⚡️  To Native ->  Filesystem checkPermissions 41095674
⚡️  [log] - {}
⚡️  TO JS {"publicStorage":"granted"}
⚡️  To Native ->  Filesystem writeFile 41095675
2022-01-29 12:45:14.899049+0300 App[11840:949348] nil host used in call to allowsSpecificHTTPSCertificateForHost
2022-01-29 12:45:14.899137+0300 App[11840:949348

[2022-01-30 15:12] jepiqueau commented on #72
@KANekT Can you share your app or a simplest repro app so i can figure out what is wrong

[2022-01-30 15:25] jepiqueau commented on #72
@KANekT if i look at
[code]
there is `uri` instead of `url`
i also assume `abd47ff029864187be261fb9e303811e` is the name of your video but i do not see any file extension giving the video type

[2022-01-31 07:49] KANekT commented on #72
i load file from api as Blob

and save to local

const savedFile = await Filesystem.writeFile({
      path: name,
      data: base64Data,
      directory: Directory.Data,
    });

in player i use savedFile.uri

it work in android and not working in iOS

[2022-01-31 08:16] jepiqueau commented on #72
@KANekT can you share a small app reproducing the issue. It will help me

[2022-01-31 08:32] KANekT commented on #72
small app - later

if i use name with ext - iOS worked.

[2022-01-31 08:36] jepiqueau commented on #72
@KANekT  you try reading Base64 video which is not implemented feature. It is nice to know that it works in Android with the code as is. Seems that to work with iOS i must convert the blob response to URL  to play it with AVplayer

[2022-01-31 08:38] jepiqueau commented on #72
@KANekT yes the extension is important to définition the type of video

[2022-01-31 08:54] KANekT commented on #72
oк, for Android extension is not important :)

[2022-01-31 09:18] jepiqueau commented on #72
@KANekT I will revisit to try understanding and solve it. If you provide me the small app it will help me reproducing and  testing. Thanks anyhow for your contribution to help making a better product

[2022-01-31 10:30] jepiqueau commented on #72
@KANekT Did you get your base64 video string starting with `data:video/mp4;base64,` or not?

[2022-01-31 10:52] KANekT commented on #72
is not base64 string - i make test app later in week

[2022-01-31 11:35] jepiqueau commented on #72
@KANekT Is your Blob got a type ie if i use this function to convert a base64 video to Blob
[code]
will this be similar to your response

[2022-02-02 06:50] jepiqueau commented on #72
@KANekT For iOS when you save it to local you must specify a video type extension.

[2022-02-02 08:25] KANekT commented on #72
https://github.com/jepiqueau/capacitor-video-player/blob/4c48fe7d5d1757561b9c6b938d68654f6aa3bb96/src/web.ts#L55

may be add check ext in js ?

[code]

[2022-02-02 08:55] jepiqueau commented on #72
@KANekT i do not really follow you i thought you were using the iOS plugin part (native) so changing something in the web.ts will not affect the iOS part. On top of this, when it is an https url it works without an extension. It seems the problem is just when it is an internal file.

[2022-02-02 09:12] KANekT commented on #72
Yes the problem is just when it is an internal file.

[2022-02-05 09:11] jepiqueau commented on #72
@KANekT Sorry, i have tried a lot of things without success. There is nothing i can do about this, so for iOS you must have a type extension. i will close the issue.

[2022-02-05 09:11] #72 closed

[2022-02-05 19:48] jepiqueau commented on #67
@jmellicker methods `setRate(rate)` and `getRate()`have been added in release 3.4.0-2 rate can be in `[0.25,0.5,0.75,1.0,2.0,4.0]` hope this will help you i looked quickly to the fork but it was quite messy so i just google and find the way. thiese methods have been added to the iOS, Android and Web part of the plugin. Enjoy it

[2022-02-06 14:54] bazuka5801 opened #74 "feat: move exitOnEnd to initPlayer"
Hello! I have a need to leave the video after exit, can we put the parameter in the initialization of the player?

https://github.com/jepiqueau/capacitor-video-player/blob/c3bb39389d3b3185c2bc6f6591866d876f72fb9d/ios/Plugin/CapacitorVideoPlayer.swift#L23-L26

[2022-02-07 18:25] jepiqueau commented on #74
@bazuka5801 this has been added in release 3.4.0-3

[2022-02-09 05:32] mersal-developing opened #75 "add cookies to request"
how can i add cookies to hls streaming request in this player?
i am working on android application and ios application

[2022-02-09 05:57] jepiqueau commented on #75
@mersal-developing Hi can you explain a bit more. i do not understand what you mean by adding cookies to hls stream.

[2022-02-09 06:05] jepiqueau commented on #75
@mersal-developing i google a bit so now i understand. It is not supported yet

[2022-02-09 06:13] mersal-developing commented on #75
Thanks for your response

[2022-02-11 15:03] jmellicker commented on #67
@jepiqueau this is awesome news, we will try it ASAP, merci beaucoup!!

[2022-02-12 14:40] Fr333m4n opened #76 "Is there a way to repeat the video instead of exiting full screen?"
Hello,

I'm trying to play a mp4 in full screen and to repeat it until I manually exit the view.
Is there a way to achieve that or it would need some change in the lib?

[2022-02-12 15:04] jepiqueau commented on #76
@Fr333m4n yes since the last version you set the exitOnEnd parameter to false in the initPlayer options

[2022-02-12 15:07] Fr333m4n commented on #76
I've tried, the player does not exit, yes. But It does not repeat either.
I have to hit the play button again.

[2022-02-12 19:11] jepiqueau commented on #76
@Fr333m4n yes you have to start it again.  We could add an option to look even if i do not see the purpose. May be you can explain a bit

[2022-02-12 20:42] Fr333m4n commented on #76
Sure, I search for short videos, less than 15 seconds, and usually, they are loops, intended to be played many times. They are a bit like GIFs, but with sound.
For instance, a meme video: https://media.vlipsy.com/vlips/Z1tUOMuh/480p.mp4

[2022-02-13 10:57] jepiqueau commented on #76
@Fr333m4n this has been fixed in 3.4.0-4.
[code]

[2022-02-13 14:18] Fr333m4n commented on #76
This is working great, thanks!

[2022-02-13 14:18] #76 closed

[2022-02-13 17:25] #74 closed

[2022-02-13 17:25] #67 closed

[2022-02-25 03:47] jh-gh opened #77 "On Android, apps exit if you play a video, pause, and then resume the app"
Thanks for this great plugin!

I have been using the 2.X version successfully in a Capacitor 2 based app.

I am in the process of upgrading apps to Capacitor 3.

When I use the current version of this plugin (v3.4.0-4), there is a problem on Android with the following sequence:

- Play a full screen video
- Put the app in the background (doesn't matter if the video is playing or paused)
- Resume t

[2022-02-28 15:14] jepiqueau commented on #77
@jh-gh  Can you please be a bit more specific on the behavior
if i open a video fullscreen and tap on the back press the video goes to the PIP mode and here if you press on the home button or on the back press the video continues to play.
if you then close the PIP mode, the video goes back fullscreen,
- if you press now on back press it goes again in PIP mode
- or if you press on the home button t

[2022-02-28 22:32] jh-gh commented on #77
@jepiqueau Thanks for your reply.
The behaviour occurs any time the user puts the app into the background while it is playing full screen video.  This can be done in different ways.

**User uses home button **
- User starts playing a fullscreen video
- User taps home button (app goes into the background and video pauses)
- User resumes the app (either by tapping the desktop icon to launch it again

[2022-03-01 10:49] jepiqueau commented on #77
@jh-gh Thanks for describing the two processes  in detail, it help me to solve the issue. It is now fixed in release 3.4.0 of the plugin. Feel free to close the issue after tests if it is working

[2022-03-01 20:27] jh-gh commented on #77
@jepiqueau Thanks for the quick turnaround!

Your fix appears to work for the scenarios that I described.
However, it seems to have also introduced a new issue with PIP mode on Android as follows:

- Start full screen video
- Tap video so that controls are displayed
- Tap PIP box to enter PIP mode
- Video is shown in small PIP box at the bottom of the screen
- Tap the X in the small PIP box
- PIP

[2022-03-02 10:52] jepiqueau commented on #77
@jh-gh audio issue is fixed in 3.4.1-1 as well as adding the pipEnabled flag in options to initPlayer

[2022-03-02 22:18] jh-gh opened #78 "On iOS, initPlayer appears to work ... but logs errors and does not return capVideoPlayerResult with result: true"
According to the API Docs, initPlayer should return a promise that resolves with a capVideoPlayerResult object (see https://github.com/jepiqueau/capacitor-video-player/blob/master/docs/API.md#initplayer).  This object should contain.a boolean property "result" with true indicating success.

This worked on iOS on plugin version 3.3.0-1 (and 2.4.7).

However, with the plugin versions 3.4.1-1, 3.4.0

[2022-03-02 22:22] jh-gh commented on #77
@jepiqueau Looks good.  Thanks for your amazing support! I will close this issue.

Note that while testing this, I did notice a separate issue on iOS that I have raised here: https://github.com/jepiqueau/capacitor-video-player/issues/78

As I mentioned in that issue, that problem also seems to have arisen not with this fix here ... but from versions after 3.3.0-1, thanks.

[2022-03-02 22:22] #77 closed

[2022-03-03 06:37] jepiqueau commented on #78
@jh-gh i cannot reproduce this error with `angular-videoplayer-app-starter` this is what i get in xcode when running the app
[code]

have you set in `Signing & Capabilities` the  `Background Modes` to allow `Audio, AirPlay, and Picture in Picture`
can you share the app on github and tell me in which simulator you test it

[2022-03-03 07:13] jepiqueau commented on #78
@jh-gh to avoid the error on the toast do the following
in line 61 of the `CapacitorVideoPlayerPlugin.Fullscreen.swit` file under `Extensions`
add `.localizedDescription` to `error` ie `"message": error.localizedDescription])` and you will see the message in the toast. This will be fixed in the next release.
As i said, i do not know the reason why the audio session did not activate. This has no im

[2022-03-06 23:35] jh-gh commented on #78
@jepiqueau Sorry for the delayed response.
I just tried reproducing the problem on a simulator (iphone 13, 15.2) and indeed I get the same results that you do (the call succeeds and returns the initPlayer call succeeds ... it does not hit an error trying to activate the audio stream ... and it does return the expected object containing result: true.   This is running with the current sources from

[2022-03-07 14:02] jepiqueau commented on #78
@jh-gh read but i was waiting your feedback

[2022-03-07 14:26] jepiqueau commented on #78
@jh-gh Can you try replacing lines 48,51 of CapacitorVideoPlayerPlugin.Fullscreen extension file
[code]
with
[code]
and tell me if it works
Do you have any other Apps playing songs on your device when starting running the videoplayer app?

[2022-03-07 19:39] juaala opened #79 "Fullscreen Android suspend screen and turn off"
Hi, i have a problem with Fullscreen. I want to keep the screen active when the video is playing. it is in full screen but it turns off after a while. Any suggestion?
The code:

![Captura de pantalla de 2022-03-07 20-36-38](https://user-images.githubusercontent.com/35939185/157105657-e12296e1-c6b7-45f8-8e1b-ffed3e6144bb.png)

![Captura de pantalla de 2022-03-07 20-27-44](https://user-images.github

[2022-03-07 19:50] jh-gh commented on #79
@juaala You could try using the Capacitor keep awake plugin https://github.com/capacitor-community/keep-awake
I have used that successfully with this plugin (though it might also be nice if the plugin supported this more directly).  In any case, if you call "keepAwake()" before playing a video ... and then "allowSleep()" after the video terminates (use the video plugin listeners to watch for this)

[2022-03-07 20:01] jh-gh opened #80 "Locking the screen on Android leaves the audio playing"
Tested with version 3.4.1-1 of the plugin and the angular starter app:

- Start fullscreen video
- Lock the screen

Expected: Audio pauses
Actual: Audio continues to play (and there is no built-in way to stop it on the lock screen)

On versions of this plugin before PIP support (e.g. 3.3.0-1 and 2.4.7), locking the screen while a video was playing would pause the video.  (Note that on iOS, locking

[2022-03-07 20:06] juaala commented on #79
Thanks @jh-gh I'll try. I saw de Flag that use Keep-awake and there is not in capacitor-video-player. The Flag is FLAG_KEEP_SCREEN_ON. Maybe we can integrate this flag into capacitor-video-player and keep screen on directly.

[2022-03-07 20:19] jh-gh commented on #78
@jepiqueau Yes, sorry, forgot about your earlier comment where you pointed out the workaround for passing error.localizedDescription!

And yes, your fix above works on a physical iPhone!

I have tried 1) starting video with a song playing in Apple Music 2) starting video with nothing playing.  Both work.  In the case where there is a song playing ... it continues to play (and you hear both the son

[2022-03-07 20:46] juaala commented on #79
@jh-gh it works! Thank you. You safe my week.... Thank! @jepiqueau Could the FLAG_KEEP_SCREEN_ON be integrated?

[2022-03-08 07:50] jepiqueau commented on #78
@jh-gh I am happy that it works i will modify the code for the two issues. Thanks for your proposal i will ask you for support when need it as i do not have a physical Apple device. I have four plugins under my ownership (`@capacitor-community/sqlite` , `@capacitor-community/photoviewer`, `capacitor-video-player`, `capacitor-data-storage-sqlite`) i do not know if you are using one of them if yes i

[2022-03-08 08:20] jepiqueau commented on #80
@jh-gh No this is the normal behavior when you lock the screen the audio continue to play in the background. That was remove when i have implemented the PIP so i put it back when i did a complete check. This give you the same behavior as on iOS with the audioSession.
if you opt out of PIP support you do not need to modify the Android Manifest

[2022-03-08 08:28] jepiqueau commented on #79
@jh-gh @juaala i do not really understand why this is happening on your device. This was fixed with the issue#33 where we add `android:keepScreenOn="true"` in the layout/bridge_layout_main.xml file of the plugin. I tested it in a old Note3 Samsung (API21) and on my S20FE (API31) on a video of 10:35 duration  and it is working without interruption and without screen turn off

[2022-03-08 08:35] jepiqueau commented on #79
@jh-gh @juaala  anyhow i will add the flag FLAG_KEEP_SCREEN_ON  in the next release. Can you revert to me when tested

[2022-03-08 20:09] jh-gh commented on #78
@jepiqueau Just to confirm, have tested this fix in plugin version 3.4.1-3 on a physical iPhone and it works great, thanks.

[2022-03-08 20:17] jh-gh commented on #80
@jepiqueau I don't understand your comment above.  Are you saying that you have fixed this issue with release 3.4.1-3 and the audio should now pause when you lock the device on Android?  The changelog seems to suggest this (and the commit e915480 which references this issue).

![image](https://user-images.githubusercontent.com/4483416/157317855-80f769f0-f7b5-441f-a200-cec3e07b58a9.png)

However, t

[2022-03-08 20:37] jh-gh commented on #80
@jepiqueau Note that this Android issue does not just occur when locking the device.  It also occurs any time the app goes into the background.  For example:

**User uses home button **

User starts playing a fullscreen video
User taps home button (app goes into the background but audio continues to play (should pause)

**User switches between apps with the app switcher **

User starts playing a f

[2022-03-08 20:40] jh-gh commented on #79
@jepiqueau I have tried this fix for keeping the screen on on Android.  I can confirm that before the fix, the screen would dim and then lock when the screen timeout is reached.  With the fix, the screen stays on while the video is playing even after the timeout has been reached.  Thanks for this useful improvement.

[2022-03-09 06:58] jepiqueau commented on #80
@jhgh i told you that this is the normal  behavior requested by some developers before i introduce the PIP mode. When you press on Home the vidéo audio continue to plan and when you reopen the app the video play again.

[2022-03-09 07:00] jepiqueau commented on #80
@jh-gh if you do not want that i could add an option soundInBackground true/ false

[2022-03-09 07:05] jepiqueau commented on #80
@jh-gh look at issue#13

[2022-03-09 23:09] jh-gh commented on #80
@jepiqueau TLDR: **Yes, I like the idea of a soundInBackground boolean thanks.  That would enable me to get the same behaviour on both platforms that I currently get using the 2.4.7 version of the plugin.**

By the way, on iOS, I currently use the plugin WITHOUT adding the background modes.  I did it this way on purpose when using 2.4.7 ... as it was the only way that I could get a decent user exp

[2022-03-10 07:30] jepiqueau commented on #80
@jh-gh well it seems that you do not want to have at all the backround mode so the soundInBackground is then the option. I will go for this when i have a bit free time. Anyhow thanks for all your comments

[2022-03-10 11:09] jepiqueau commented on #13
@7freaks-otte  I come back to you, are you still using the plugin if yes can you try the latest release and tell me if the background video audio is still working ? In the simulator it does not but i do not know the reason why? Your help will be appreciate

[2022-03-10 11:11] jepiqueau commented on #79
@juaala thanks from @jh-gh test it seems working so i close the issue

[2022-03-10 11:11] #79 closed

[2022-03-11 10:23] 7freaks-otte commented on #13
@jepiqueau Our project has currently stalled but I'll see what I can do the next days. Will update dependencies and try to test your plug-in.

[2022-03-11 10:34] jepiqueau commented on #13
@7freaks-otte thank you

[2022-03-11 11:40] lestercastillo opened #81 "landscape video"
it is possible auto rotate video once it was clicked ?

[2022-03-11 11:56] jepiqueau commented on #81
@lestercastillo you can rotate the screen  and the video will rotate. To rotate the video without rotating the screen you cannot do it.

[2022-03-12 17:23] jepiqueau commented on #80
@jh-gh in release 3.4.1 à parameter bkmodeEnabled has been added . The default value is true. The iOS part has now the  same behavior than the Android part. Hope this will making you closing the issue . Enjoy

[2022-03-13 00:38] lestercastillo commented on #81
thanks man <3

[2022-03-14 21:13] jh-gh commented on #80
@jepiqueau Thanks for adding the bkmodeEnabled parameter.  However, unfortunately release 3.4.1 seems to have issues.

For my use case, I would like to set pipEnabled=false, bkmodeEnabled=false (and not enable the background mode in iOS settings).

However, with these settings in place, when you play a video on iOS, **you get no audio at all.**

Also, there are issues on iOS generally in 3.4.1 whe

[2022-03-15 07:09] jepiqueau commented on #80
@jh-gh thanks for all this tough testing. I will have a look if i can reproduce it. My problem is i do not have an iPhone device so it is quite hard to test as you do.

[2022-03-15 16:54] danielreiser opened #82 "XCode 13.3 – Segmentation fault: 11"
Thanks for creating this amazing lib!

Unfortunately after xcode quietly upgraded to 13.3, when trying to build a release version of my app I get
Xcode 13.2.1 still works as expected.

`error: Segmentation fault: 11 (in target 'CapacitorVideoPlayer' from project 'Pods')`

Tried everything from doing a clean build, removing derived data etc.

I am using the latest version of
- capacitor-video-playe

[2022-03-16 06:37] jepiqueau commented on #82
@danielreiser it should be from your side i have the same versions than you and testing on a simulator iPhone 13 Pro Max and it is working

[2022-03-17 10:07] danielreiser commented on #82
thanks for the feedback. strange. I don't have changed anything but use the latest xcode. with the previous version it works as expected 🤷‍♂️

[2022-03-21 12:39] TekiLakshmanSundeep opened #83 "Support for webRTC streams"
Does this supports to play the streams which come via webRTC i.e peer to peer.

[2022-03-21 14:45] jepiqueau commented on #83
@TekiLakshmanSundeep i already answer no in issue#62 and i did not have time yet to look at it. If you know how to do it make a PR i will look at it

[2022-03-22 06:25] #83 closed

[2022-03-23 15:55] jepiqueau commented on #82
@danielreiser did you progress on this? May be you need to remove the ios folderfrom your app and add it again

[2022-03-24 18:44] joannadal commented on #82
Hi there!

Same issue here. Using Xcode 13.3 trying to archive the .ipa file.

Could you anyone help me with this?

Thanks!

[2022-03-25 03:26] yelhouti opened #84 "application crashes sometimes on stop"
Caused by: java.lang.NullPointerException: Attempt to invoke interface method 'java.util.Iterator java.util.List.iterator()' on a null object reference
        at com.jeep.plugin.capacitor.capacitorvideoplayer.FullscreenExoPlayerFragment.isApplicationSentToBackground(FullscreenExoPlayerFragment.java:835)

It seems like: am.getRunningAppProcesses() can be null. we should check that and return false

[2022-03-26 09:10] jepiqueau commented on #82
@joannadal i cannot check this as i am not enroll to the apple developer program.

[2022-03-26 09:14] jepiqueau commented on #81
@lestercastillo  Can we close this issue

[2022-03-26 10:57] #84 closed

[2022-03-26 16:04] #78 closed

[2022-03-26 16:04] #81 closed

[2022-03-28 04:11] fathanyr commented on #82
Same here, could anyone ?

![image](https://user-images.githubusercontent.com/48428195/160325217-d4ae7fc4-bbca-466d-8be6-ffa36dee10a5.png)

[2022-03-28 11:01] mueslirieger commented on #82
I'm getting the same error as @fathanyr but I found the following solution for it in the Apple dev forums.
Changing Line 40 in *CapacitorVideoPlayPlugin.swift* from `if (UI_USER_INTERFACE_IDIOM() == UIUserInterfaceIdiom.pad),` to `if (UIDevice.current.userInterfaceIdiom == UIUserInterfaceIdiom.pad),` did the trick for me.

[2022-03-28 13:16] jepiqueau commented on #82
@mueslirieger thanks for this, can you make a PR i will merge it in the next release. If others having the same issue can test and confirm that it is works it would be appreciate.

[2022-03-31 07:28] jepiqueau commented on #82
@danielreiser @joannadal @mueslirieger  Sorry guys i did not hear anything from you. Can you confirm that what is proposed by @mueslirieger  works. In that case , i will publish a new release

[2022-03-31 07:59] mueslirieger commented on #82
@jepiqueau Sorry for the late answer. Of course, I will make open a PR in the course of the day.

[2022-03-31 08:12] jepiqueau commented on #82
@mueslirieger ok

[2022-03-31 11:04] jepiqueau commented on #82
@mueslirieger Thank you for spending time to fix this issue. The PR has been merged and part of the new release 3.4.2-2

[2022-03-31 11:04] #82 closed

[2022-04-07 10:55] danielreiser commented on #82
Sorry for not responding earlier! Thank you very much!

[2022-04-11 09:40] yelhouti opened #86 "Android application crashes sometimes on playerEnd/playerExit."
The issue seems to come from the notificationCenter.

Since synchronized uses a re entrant lock, postNotification (for playerEnd, playerExit) calls removeAllNotifications the iteration breaks with ConcurrentModificationException.

Using a non re entrant lock (example Semaphore) doesn't solve the problem, since everything is called on the UIThread.

To fix this, iterating on the list of notificatio

[2022-04-11 10:53] jepiqueau commented on #86
@yelhouti thanks for this can you make a PR to fix this i will look at it and merge it

[2022-04-11 13:20] yelhouti commented on #86
@jepiqueau here you go

[2022-04-12 06:18] #86 closed

[2022-04-12 06:29] jepiqueau commented on #86
@yelhouti @mamane10 Thanks for your work. Now published in 3.4.2

[2022-04-22 12:34] raykin opened #88 "[Web] video still play after close it"
Close video when loading icon is circling can close video UI but video is still playing on background because audio is still playing after loading finished. Bug only exists for PWA/Web.

[2022-04-22 15:04] jepiqueau commented on #88
@raykin thanksfor using the plugin. can you share a repro app on github demonstrating the issue

[2022-04-25 10:08] raykin commented on #88
@jepiqueau okay. I'm not free on repro it right now. I can try it on this weekend.

[2022-04-30 00:46] jmellicker opened #89 "The latest version doesn't play video files from the local device storage"
We are encountering an issue with playback of local video files in the 3.x.x version of the plugin (updated for Capacitor 3).

When specifying a remote (https) URL for the video file, the video loads and plays as expected.  But when we download the same `.mp4` video file to the local storage of the mobile device and try to load the video into `capacitor-video-player` using the local filepath, the

[2022-04-30 06:24] jepiqueau commented on #89
@jmellicker i assume that you are using an Android device. It seems that something change in Android 12 that i have not yet figure out.

[2022-05-02 23:51] jmellicker commented on #89
@jepiqueau Local playback stopped working on iOS and Android devices at the same time (when we switched to Capacitor 3 and your latest code). Do you think it could be a change from Capacitor 2 to Capacitor 3?

[2022-05-03 05:10] jepiqueau commented on #89
@jmellicker i do not think so. The app with capacitor 3 is running perfect in an Android API 21 .

[2022-05-14 16:27] epasch opened #90 "jeepCapVideoPlayerExit Event Doesn't Always Fire When Player is Closed"
On iOS, if you click the [X] to close the fullscreen player, the jeepCapVideoPlayerExit event fires. However if you swipe down on the player to close it, the event does not fire. The only event that fires when swiping to close is the jeepCapVideoPlayerPause.

Also, when the player is closed due to the ending of the video, the jeepCapVideoPlayerExit event should fire as well as the jeepCapVideoPlay

[2022-05-15 11:08] jepiqueau commented on #90
@epasch thanks for using the plugin. You cancreate in your app a general listener listening for the end and exit lustener of the plugin and you will have what you are looking for. For the swipe down i do not  know what it is fired  you mentioned the pause so i will have to look more in detail

[2022-05-17 05:38] jepiqueau commented on #90
@epasch when you swipe down the application is not active so the video is paused but not exit. When you put  the application active again do you want the video to restart from where it was before the swipe down or another behaviour ?

[2022-05-19 12:48] mzimnikoval opened #91 "Video player error on Android devices"
Hello, we facing issues when we trying to run video stream on Android phones. When we try livestream url in format .m3u it throws this error

`E/ExoPlayerImplInternal: Source error
      com.google.android.exoplayer2.source.UnrecognizedInputFormatException: None of the available extractors (MatroskaExtractor, FragmentedMp4Extractor, Mp4Extractor, Mp3Extractor, AdtsExtractor, Ac3Extractor, TsExtrac

[2022-05-20 04:22] jepiqueau commented on #91
@mzimnikoval can you provide the link of your livestream url

[2022-05-20 08:33] DmitryBara opened #92 "Plugin not working in Ionic 6, web environment"
With Ionic version >= 6 on web video player not appear (only sound exist).

This bug exists only on web environment, on IOS and Android everything is ok.

[2022-05-20 08:59] DmitryBara commented on #92
Sorry its not a bug of capacitor video player.

The way how it's implemented here https://github.com/jepiqueau/react-video-player-app-starter
just not suitable for Ionic v.6 because of IonModal.

If you will change parent IonModal component (which is actually wrapper for video) to div or something else it still working.
Don't forget to change `tagName` property.

[2022-05-20 08:59] #92 closed

[2022-05-20 09:17] mzimnikoval commented on #91
One is http://92.62.234.206/slagr.m3u

and the other one for android is https://arenasportslovakia.ddns.net:443/dashLive1/slager.mpd

[2022-05-21 07:04] jepiqueau commented on #91
@mzimnikoval  [https://arenasportslovakia.ddns.net:443/dashLive1/slager.mpd](https://arenasportslovakia.ddns.net/dashLive1/slager.mpd) is working fine on android.

[2022-05-21 07:34] jepiqueau commented on #91
@mzimnikoval in `angular-videoplayer-app-starter` home page i replaced `private mpd = 'https://bitmovin-a.akamaihd.net/content/MI201109210084_1/mpds/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.mpd';` by `private mpd ='https://arenasportslovakia.ddns.net:443/dashLive1/slager.mpd';`
.m3u playlist are not supported by Exoplayer only HSL .m3u8
hope this clarify

[2022-05-22 07:14] DmitryBara opened #93 "Double player on mobile browser"
**Platform**: IOS mobile Safari

**Current Behavior**: When I do `.initPlayer()` firstly I see web player hls.js where I press play button and get transferred to native mode.

**Expected Behavior**: Native player initialized by default. Without intermediate layer hls.js video player.

Link with demonstration of bug:
https://drive.google.com/file/d/1TiRKlcmWMhRzWTecc2rXllwJ-sXb1Pv9/view?usp=sharing

[2022-05-22 23:23] mzimnikoval commented on #91
Hi, @jepiqueau we are using vue app and when I drop it to the json list, that mpd stream starting buffering, and after some time it crashes, only on android though

[2022-05-29 07:15] amirheydari9 opened #94 "hls.js"
in version ^3.4.2 hls.js is dependency but when i install capacitor-video-player hls.js not installed

[2022-05-29 07:35] #94 closed

[2022-05-29 07:56] amirheydari9 opened #95 "fullscreen mode"
Uncaught (in promise) TypeError: Fullscreen request denied

i write methode to paly video in fullscreen

async play(video: string) {
    // Get the video as base64 data
    const realUrl = await this.videoService.getVideoUrl(video);

    // Show the player fullscreen
    await this.videoPlayer.initPlayer({
      mode: 'fullscreen',
      url: realUrl,
      playerId: 'fullscreen',
      componentT

[2022-05-29 12:40] jepiqueau commented on #95
@amirheydari9 on which platform

[2022-06-13 21:03] luislopezlopez opened #96 "Can't play video files from Internal folder."
When I play a video from internal folder (file:///) I receive "filePath not implemented" when I initialize the player. But everything works fine when I play a video from a http url.

I don't know if i am miss understanding the documentation.

**Version:**
Capacitor video player : 3.4.2

**Platform:**
iOS

[2022-06-13 21:22] luislopezlopez commented on #96
Sorry I tested on a real device and everything works perfect.

[2022-06-14 06:08] jepiqueau commented on #96
@luislopezlopez on which platform

[2022-06-14 06:09] jepiqueau commented on #96
@luislopezlopez OK 👌 so i close it

[2022-06-14 06:09] #96 closed

[2022-06-25 11:13] DmitryBara commented on #93
Anybody have suggestions about this issue? Maybe you could give a hint how to fix it and where (probably in library) to search a bug?

[2022-06-25 15:46] jepiqueau commented on #93
@DmitryBara Can you share your code i never saw this behavior

[2022-06-28 11:14] matzar opened #97 "capacitor-video-player vs `<video>`"
Genuine question here to which I'd love to know an answer to - what are the advantages of using capacitor-video-player over HTML5's `<video>` element?

I've used `<video>` element in my Angular app and it translated without a problem to iOS and Android with capacitor.

[2022-06-28 14:35] jepiqueau commented on #97
@matzar by doing so you are using the Web browser player and not directly the native players.

[2022-06-28 14:43] matzar commented on #97
@jepiqueau how is capacitor-video-player using the native players?

I thought is was also creating a `<video>` HTML element
https://github.com/jepiqueau/capacitor-video-player/blob/596334d9c8540299136ac8911264a2998ae4bc38/src/web-utils/videoplayer.ts#L127

but maybe this is doing something else?

[2022-06-29 05:36] jepiqueau commented on #97
@matzar for the Web the plugin uses HTML vidéo élément. For the native apps the plugin uses directly the native player. Ie for Android it is using an Exoplayer and for iOS the Apple player

[2022-06-29 08:48] matzar commented on #97
@jepiqueau great, that's what I wanted to know - thanks!

[2022-06-29 08:48] #97 closed

[2022-07-24 18:33] RRGT19 opened #98 "Hide controls and loading indicator"
Hi,

1. There is a way to hide/not show the video controls?
2. There is a way to hide/not show the loading indicator that appears at the beginning?

I'm trying to do a video splash screen. After my app is loaded, I hide the splash and I play a short video. The loading indicator and the controls gives a weird impression.

[2022-07-25 05:08] jepiqueau commented on #98
@RRGT19 thanks for using the plugin. There is no option available to hide the video controls and the loading indicator. Which platform are you using ?

[2022-07-25 11:41] RRGT19 commented on #98
@jepiqueau Hi, thanks for your reply. We are using just **Android** and **iOS**. The purpose is to do a fake splash screen reproducing a short video after the app has loaded. Would be awesome to be able to hide the controls and the loading indicator if possible.

[2022-07-27 16:33] DmitryBara commented on #93
@jepiqueau

My function for player initialization
` ``
const playVideo = () => {
    await CapacitorVideoPlayer.initPlayer({
      mode: "fullscreen",
      url: urls.content.high,
      playerId: "playerId-main",
      componentTag: "div",
    });

    await CapacitorVideoPlayer.play({ playerId: "playerId-main" });
}
[code]
"capacitor-video-player": "^3.4.2",
"@ionic/react": "^6.0.0",
"@ionic/rea

[2022-08-20 18:36] PhantomPainX opened #99 "Any possibility to use headers in the request?"
I'm currently using a fork from the Cordova streaming video plugin where I added the support for custom headers, and I'd like to update to this plugin since I'm using capacitor now instead of Cordova.

Any possibility of adding this feature, or if it is already added, how to use it?

[2022-08-20 19:11] jepiqueau commented on #99
@PhantomPainX thanks for looking at the plugin. What do you mean by custom headers

[2022-08-20 19:29] PhantomPainX commented on #99
Hey, thanks for answer. For example I want to play an external video that needs an Authorization token or a Referer of the same domain. Without sending those headers in the request, the video won't play, because the video server end will block it.

[2022-08-21 07:08] jepiqueau commented on #99
@PhantomPainX Understand your request. No idea how to do that and also to test it as i do not have access to a video server requesting autorization token. May be you can look at it and make a PR when tested.

[2022-08-21 07:22] PhantomPainX commented on #99
Yeah, I will probably do it in the same way as I did with the cordova one. Thanks :)

[2022-08-21 08:13] jepiqueau commented on #99
@PhantomPainX let me know about your progress. I will merge the PR

[2022-08-21 09:46] zizu-kun opened #100 "Capacitor 4 compatibility"
Plugin need upgrade to Capacitor 4.

[2022-08-21 12:23] jepiqueau commented on #100
@rdLabo can you use your procedure as you have done for sqlite and make a PR that i will merge in "dev" release

[2022-08-21 17:44] PhantomPainX commented on #99
I think I did it for iOS, tested in simulator and it works well, I can pass headers in the request

[2022-08-21 18:31] jepiqueau commented on #99
@PhantomPainX can you do it also for Android and web

[2022-08-21 18:35] PhantomPainX commented on #99
Web I don't think, I'm trying to do it in Android but I don't understand how to pass headers to ExoPlayer :(

[2022-08-21 20:22] PhantomPainX commented on #99
Ok, I managed to do it in Android too. I'm going to upload the PR in some hours.

[2022-08-21 20:22] #99 closed

[2022-08-22 03:46] Web2Integrators opened #102 "I want the video on ios in embedeed mode."
I want the video to take the half the height of the Iphone.

Currently video open in full screen mode.

Any plan for embedded mode on ios?

[2022-08-22 06:29] jepiqueau commented on #102
@Web2Integrators i would have wish to provide this and have worked hard to do it without success in the past. Capacitor can only present a viewController fullscreen. If you have an idea to do it please feel free to make a PR

[2022-08-22 11:12] mattsputnikdigital opened #103 "Programmatically Exit Player"
Firstly thanks for the plugin!

On iOS / Android I would like to be able to close the video programatically. I would like to do this if the user is logged out in the background for instance.

I have tried stopAllPlayers() but this just seems to pause the video and it stays full screen on iOS.

Is this possible?

[2022-08-22 14:30] jepiqueau commented on #103
@mattsputnikdigital first thanks for using the plugin. Exiting the player programatically has not been implemented.

[2022-08-23 19:54] PhantomPainX opened #104 "Redesign of ExoPlayer layout and some new options for Android"
I redesigned the player and made it more customizable with some new options:

- title (string): the title of the video.
- smallTitle (string): the subtitle below the title.
- mainColor (string): exo progress bar color (played and scrubber color) | default: white
- spinnerColor (string): android default indeterminated color while the video is loading. | default: white

### Result

![Screenshot_2022

[2022-08-24 20:46] PhantomPainX commented on #104
@jepiqueau I was trying to add support for Chromecast too but ExoPlayer needs to update to the version 2.16.0 at least due to this:

`Upgrade the WorkManager extension to depend on androidx.work:work-runtime:2.7.0. Earlier versions of work-runtime are not compatible with apps targeting Android 12, and will crash with an IllegalArgumentException when creating PendingIntents (https://github.com/goog

[2022-08-25 06:53] jepiqueau commented on #104
@PhantomPainX this is far too much work for the time i have free at the moment. I may have a look in the future but not a near one

[2022-08-25 12:18] PhantomPainX commented on #104
Sure, no problem 👌

What about the design I made? Can I do a PR?

[2022-08-25 20:07] mattsputnikdigital commented on #90
@jepiqueau I have just discovered this issue on iOS as well.

I believe he is referring to when you drag the video down, it doesn't close the app, it cancels the video and the capacitor app is still running underneath.

[2022-08-25 20:47] mattsputnikdigital commented on #90
@jepiqueau I believe if you set .isModalInPresentation = true it will stop the user from being able to swipe the video off screen. Given the video is lost this will prevent that bug, the other issue, firing an event if the video is swiped away, I do not know how to solve yet.

[2022-08-25 20:53] mattsputnikdigital opened #105 "iOS - Swiping Video Off Screen Does Not Destroy The Video"
It seems since iOS 13 you can swipe to close views. If this is done on iOS whilst a video is playing the video is paused but not destroyed. There is no way to get the video back on screen but you can start the video playing again with .play() and only the sound plays.

The event "jeepCapVideoPlayerPause" is fired but instead the event "jeepCapVideoPlayerExit" should be fired and the AV view destro

[2022-08-27 08:09] jepiqueau commented on #104
@PhantomPainX i merge the new design. If you have time you can try making a PR for the  upgrade to Exoplayer 2.16.0 but it is quite a work.
My next task is to upgrade to Capacitor 4 when i have a free time

[2022-08-28 03:33] PhantomPainX commented on #104
I'm on that now, I updated to 2.16.0 and added Cast support (works), nevertheless I'm having problems with subtitles and I need to configure the controls and local player when Cast mode is playing

[2022-08-28 05:50] jepiqueau commented on #104
@PhantomPainX tell me about your progress i will wait for it as you have starter to upgrade to capacitor 4 thanks for helping me

[2022-08-28 17:11] PhantomPainX commented on #104
Hey, I updated successfully to ExoPlayer v2.16.0 and added Chromecast support (while it's casting, I disabled all local player buttons. Making custom buttons for chromecast in the layout is a lot of work and I won't do it haha).

Plus I updated this function `private MediaSource getSubTitle(MediaSource mediaSource, Uri sturi, DataSource.Factory dataSourceFactory)` to support this version of ExoPla

[2022-08-28 18:27] jepiqueau commented on #104
@PhantomPainX what are the reasons for which you cannot test the subtitles

[2022-08-28 20:40] PhantomPainX commented on #104
I don't have an url right now, If you provide me a valid one I can test it now

[2022-08-29 05:40] jepiqueau commented on #104
@PhantomPainX look at `https://github.com/jepiqueau/angular-videoplayer-app-starter/blob/master/src/app/home/home.page.ts` you will find video urls with subtitles

[2022-08-30 01:06] PhantomPainX commented on #104
Ok, I finally made subtitles to work

![Screenshot_2022-08-29-21-04-01-53_21ae4d291e4b2391d104fa7a6e40562e.jpg](https://user-images.githubusercontent.com/47803967/187325292-9e9d6bd1-fad8-40a0-b7ea-931924db5b2c.jpg)

I will make the PR, some methods are deprecated but stills works (I'd update them but I don't have more time)

[2022-08-31 08:25] jepiqueau commented on #104
@PhantomPainX Can you enumerate the methods which are deprecated

[2022-08-31 09:32] jepiqueau commented on #105
@mattsputnikdigital When you swipe to close view when a video is playing , the video is paused and the application goes in the background. if you open the application again the video will restart to play from where it was paused and so on. This is the normal behavior as requested by many developers. I test it on the iPhone 13 Pro Max simulator and it works well. if you does not want this behavior

[2022-08-31 09:38] mattsputnikdigital commented on #105
@jepiqueau you can swipe the video away but the app remains open. You need to touch the video and not any other part of the view. The video shrinks and you can move it around the screen like a little icon. bkmodeEnabled does nothing to solve this.

[2022-08-31 09:51] mattsputnikdigital commented on #105
@jepiqueau here is a screen recording of the issue https://www.dropbox.com/s/h4mhsmpnef9r0z8/Screen%20Recording%202022-08-31%20at%2010.48.28.mov?dl=0

You will notice the video closes, fires the pause event, but the app remains open. bkmodeEnabled in this video is set to false, but that setting does not change the behaviour.

[2022-08-31 10:08] mattsputnikdigital commented on #105
@jepiqueau here is another recording to show the issue https://www.dropbox.com/s/qkndjabfwwuow23/Screen%20Recording%202022-08-31%20at%2011.05.30.mov?dl=0

PIP and Background Mode are disabled.

Dragging the video towards the top of the screen closed the video and the ended event fires.

Dragging the video towards the bottom of the screen pauses and hides the video and no ended event fires.

If the

[2022-08-31 10:09] jepiqueau commented on #104
@PhantomPainX i make the merge, publish it on npm and try to run it on `angular-videoplayer-app-starter` and i got a crash

[code]
any idea ?is
[code]
the manifest file

[2022-08-31 10:24] mattsputnikdigital commented on #105
This page shows the new iOS gestures https://sarunw.com/posts/modality-changes-in-ios13/

[2022-08-31 11:10] jepiqueau commented on #104
@PhantomPainX Can you share your testing app?

[2022-08-31 11:17] jepiqueau commented on #105
@mattsputnikdigital What you are showing is dragging the video i thought it was swiping of the view. In that case i reproduced the issue i never thought about this. i will have a look

[2022-08-31 12:39] PhantomPainX commented on #104
Your declared wrong this in your app manifest:

[code]

You have:

[code]

[2022-08-31 13:47] jepiqueau commented on #105
@mattsputnikdigital  i fix the issue which will be part of the next release

if you want to test it makes these changes in `FullScreenVideoPlayerView`
 - add variable
 -
[code]
- add in func addObservers at the end

[code]
this is strange that the drag-up, drag-left, drag-right fire the `frame` observer and drag-down fired the `view center` observer. This could be an Apple bug

[2022-08-31 13:55] jepiqueau commented on #104
@PhantomPainX it is working but i do not see the PiP mode button anymore

[2022-08-31 13:56] jepiqueau commented on #104
@PhantomPainX i have  still to test for the Chromecast also

[2022-08-31 14:07] PhantomPainX commented on #104
make sure you have pip enabled, it works for me

[2022-08-31 14:21] jepiqueau commented on #104
@PhantomPainX OK i will have a closer look

[2022-08-31 14:39] jepiqueau commented on #104
@PhantomPainX Emulator Pixel XL API 31 when i press on the button which i believe is PIP i got the video enlarged which is not the PIP

[2022-08-31 14:40] PhantomPainX commented on #104
Ok, let me test in that phone

[2022-08-31 14:49] PhantomPainX commented on #104
Ok, tested in my IONIC app with that emulator and it works. I'm gonna test it in your app now

<img width="323" alt="Captura de Pantalla 2022-08-31 a la(s) 10 46 51" src="https://user-images.githubusercontent.com/47803967/187708451-056c6140-9956-421c-9d96-9899668c5c03.png">
<img width="315" alt="Captura de Pantalla 2022-08-31 a la(s) 10 47 26" src="https://user-images.githubusercontent.com/4780396

[2022-08-31 14:56] #105 closed

[2022-08-31 14:57] PhantomPainX commented on #104
Glad it worked, please include all steps I wrote in the PR to make the plugin to work, that include (app gradle, manifest and mainactivity).

There is a bug in the chromecast button color too, it will become black when dark mode is disabled, I fixed it yesterday but deleted it today after testing the main branch of the plugin :(. I will probably upload the fix today

[2022-08-31 15:55] jepiqueau commented on #27
@elskwid @jmellicker Finally this is now available in 3.7.3 So i close the issue

[2022-08-31 15:55] #27 closed

[2022-09-03 08:36] jepiqueau commented on #104
@PhantomPainX i still do not see the chromecast button. i made some modification to allow chromecast when you want to pick the videos from the gallery. I would like to be able to test chromecast prior to move to capacitor4

[2022-09-03 08:47] jepiqueau commented on #89
@jmellicker this is fixed in 3.7.4 , you need to add
[code]
in the manifest file of the app and you will be prompted for permissions the first time you want to access internal media file from Gallery or DCIM

[2022-09-03 08:54] #89 closed

[2022-09-03 08:55] #102 closed

[2022-09-03 12:57] PhantomPainX commented on #104
I don't know if Chromecast would work with local videos in your device storage. From what I understand when you cast a video, you send the video url, metadata and etc... in a mediaitem to the cast device and that device is responsible to play the video externally of the phone.

What I mean is that the phone doesn't send the video directly to the cast device, the cast device itself play the video

[2022-09-03 14:25] jepiqueau commented on #104
@PhantomPainX in fact i have a samsung TV which is chromecast enable and a physical device  Samsung Galaxy S20 FE and i cannot set it up which cast app are you using on your android device ?

[2022-09-03 14:27] PhantomPainX commented on #104
I don't know what you mean with a Cast app, I'm using the plugin with IONIC

Are you trying to cast a remote video or internal?

[2022-09-03 15:44] jepiqueau commented on #104
@PhantomPainX can you share your testing app so i can understand how to use it

[2022-09-03 16:47] PhantomPainX commented on #104
I can't, sorry. It is an app for a client and I can't share it.

The most I can give you is the code where I initializate the player and some video urls I'm using

[2022-09-03 16:53] jepiqueau commented on #104
@PhantomPainX yes please do so

[2022-09-03 23:39] PhantomPainX commented on #104
Ok, i had to edit the code because i had to many services, classes, etc. Anyways i didn't change the methods i use
[code]

[2022-09-04 01:45] PhantomPainX commented on #104
@jepiqueau I'm having issues with some video links, some throws 403 source error (In cordova-plugin-streaming-media with MediaPlayer works perfectly) and others even crash the entire application.

I will post details in other post, plus this happens in older plugin versions too.

[2022-09-04 07:19] jepiqueau commented on #100
@zizu-kun This is done in new release 4.0.1 so i close the issue

[2022-09-04 07:19] #100 closed

[2022-09-04 09:05] jepiqueau commented on #104
@PhantomPainX hard to make this working.
- i create a new project from ionic
- i generate a new page videos and have included your code
- i add videos.page.html
[code]
- i modify the home.page.html

[code]
- modify the home.page.ts

[code]
and i got the following error in iOS
[code]
Do i have to add something in home.module.ts or in videos.module.ts ?

[2022-09-04 11:08] PhantomPainX commented on #104
You have to install Cordova http plugin (follow steps in the plugin page) and add the http module in providers array in app.module.ts

[2022-09-04 11:48] jepiqueau commented on #104
@PhantomPainX this is what i did now and it is working fine in iOS showing the first vidéo but nt working on Android do no show the player with no error on the Android console

[2022-09-04 11:52] PhantomPainX commented on #104
@jepiqueau are you using your last version v4.0.1? The version I tested it was with V3.7.3

[2022-09-04 14:56] jepiqueau commented on #104
@PhantomPainX yes i do the Android code did not change

[2022-09-04 17:04] PhantomPainX commented on #104
Tell me if I can do something to help you, without any error shown is difficult

[2022-09-04 17:35] jepiqueau commented on #104
@PhantomPainX i fix the bug in 4.1.0-1 it was related to the permissions added for reading internal files. so do not use 3.7.4 which is also buggy.
The video is well played on android but the cast to my TV does not work. so i have to trust you . i will publish the testvideo project i use to test if you can confirm that it works it your side [testvideo](https://github.com/jepiqueau/testvideo.git)

[2022-09-04 18:13] PhantomPainX commented on #104
Sure, I will test it once I'm free

[2022-09-06 20:25] PhantomPainX commented on #104
@jepiqueau I tested the 4.1.0-1 version and cast works

![Screenshot_2022-09-06-16-19-22-85_21ae4d291e4b2391d104fa7a6e40562e.jpg](https://user-images.githubusercontent.com/47803967/188731393-8fc1cd8c-53a6-4bb5-a8cd-d1fdb497d8de.jpg)
![Screenshot_2022-09-06-16-19-27-20_21ae4d291e4b2391d104fa7a6e40562e.jpg](https://user-images.githubusercontent.com/47803967/188731411-2b228fe9-1c59-4bc9-a08a-324cc74d

[2022-09-06 20:49] PhantomPainX opened #108 "Bug: app crashes or throws response error 403 with some videos"
### Error 1 (app crashes)

When I use some video links, the app crashes before the video starts. I traced the error and it happens in this function:

[code]

You can use this link to reproduce the error:  https://vd278.mycdn.me/?expires=1662582616116&srcIp=181.182.87.101&pr=10&srcAg=UNKNOWN_ANDROID&ms=181.222.52.28&type=3&sig=v2xymxzA7As&ct=0&urls=183.226.33.26&clientType=0&zs=43&id=3030515714639

[2022-09-07 07:37] jepiqueau commented on #104
@PhantomPainX thanks for your feeback. Do you have a special device connected to your TV. Mine is chromecast enable but it does not work it is a pity

[2022-09-07 07:54] jepiqueau commented on #108
@PhantomPainX error 1 it could not find the type of the video so it should return null

[2022-09-07 08:06] jepiqueau commented on #108
@PhantomPainX do you know which vidéo format is the video

[2022-09-07 16:03] jepiqueau commented on #108
@PhantomPainX did this work on iOS

[2022-09-07 16:16] PhantomPainX commented on #108
@jepiqueau

- I don't know the type of the video however I'm investigating it. (It can be mp4 I think)
- Error 1 works in iOS. 403 source error doesn't work in iOS.

[2022-09-07 16:18] PhantomPainX commented on #104
I have a Chromecast 3rd generation connected to my TV and a Google nest mini

[2022-09-07 18:08] jepiqueau commented on #108
@PhantomPainX  Can you tell me for case 1 if you change getVideoType by

[code]
if you can read the video

[2022-09-07 18:55] PhantomPainX commented on #108
So nice dude!!! it works perfectly now

[2022-09-07 19:08] jepiqueau commented on #108
@PhantomPainX OK i will put it in the new release. Is this working on iOS? Do uou still have the error2 or everything works

[2022-09-07 19:29] PhantomPainX commented on #108
The error 1 is solved for android, iOS never had that problem, however the error 2 persists in both

[2022-09-08 05:19] jepiqueau commented on #108
@PhantomPainX for error 2 i will need an access to that vidéo to try understanding. I will not work on this before this evening

[2022-09-08 19:50] PhantomPainX commented on #108
@jepiqueau here is the code where the videos can be resolved, basically is the same old code I posted in the other issue topic but with some additions:

mailRuResolver() -> get mp4 videos (uses capacitor http native plugin)

[code]

It should work for you to test the issue, if there's a problem tell me

[2022-09-09 07:53] jepiqueau commented on #108
@PhantomPainX if i play
[code]
directly without the headers it works well both in iOS and Android
so i think it is related to the headers where you seems to use cookies and i saw that 403 on exoPlayer can come from the use of cookies
on top of this in the code you gave
[code]
i think referer should be `referer`: options.url in the push but this does not change the error

[2022-09-09 07:59] jepiqueau commented on #108
@PhantomPainX may be something related to
`https://my.mail.ru/+/video/meta/9149163570439660295`

[2022-09-09 08:49] jepiqueau commented on #108
@PhantomPainX if i look at the error in iOS
playerItem Error Optional(Error Domain=AVFoundationErrorDomain Code=-11829 "Cannot Open" UserInfo={NSLocalizedFailureReason=This media may be damaged., NSLocalizedDescription=Cannot Open, NSUnderlyingError=0x600001102820 {Error Domain=NSOSStatusErrorDomain Code=-12848 "(null)"}})

[2022-09-09 09:59] jepiqueau commented on #108
@PhantomPainX I played all the morning with that i am pretty sure that the headers are not loaded from https://my.mail.ru/+/video/meta/9149163570439660295  i will stop on this letting you continue the research on iOS may be have a look at https://github.com/kevinjameshunt/AVPlayer-HTTP-Headers-Example

[2022-09-09 16:58] PhantomPainX commented on #108
@jepiqueau I'm stupid... I was encoding the url damaging it in the process (changing key parts of the url, this caused the url gave me 403, because the server didn't recognize it lol)

I'm closing it because the error 1 was resolved and the error 2 wasn't even an error of your plugin ... (mediaplayer plugin played it successfully but this should be because it uses other way to call the request and

[2022-09-09 16:58] #108 closed

[2022-09-10 14:03] jepiqueau commented on #104
@PhantomPainX i will close this one as everything works as expected Thanks again for your contribution

[2022-09-10 14:03] #104 closed

[2022-09-11 05:17] jepiqueau commented on #95
@amirheydari9 the player is not playing base64 videos.

[2022-09-11 05:17] #95 closed

[2022-09-11 05:20] #80 closed

[2022-09-11 05:22] jepiqueau commented on #75
@mersal-developing see with the headers if it is working now release 4.1.0

[2022-11-07 04:03] tsenguunchik commented on #52
Any development on this front? I'm also trying to play video on ios with authorization header. Either query parameter or cookie header.

[2022-11-10 20:25] phormula opened #109 "Android crashes"
[code]

My app crashes on android, please help

[2022-11-11 06:56] jepiqueau commented on #109
@phormula look at https://github.com/jepiqueau/angular-videoplayer-app-starter manifest file. You need to copy the <meta-data> block into your app manifest file.

[2022-11-11 07:01] jepiqueau commented on #109
@PhantomPainX Can you modify the readme.md to include under Android the requirement to add the <meta-data> block for cast in the manifest file. Make a PR i will merge it

[2022-11-11 07:05] jepiqueau commented on #109
@phormula look at the docs/API.md doc for Chromecast support it is all there.
@PhantomPainX sorry it is all there. Nothing to do.

[2022-11-11 10:50] phormula commented on #109
Thanks it worked

[2022-11-11 11:55] jepiqueau commented on #109
@phormula OK i will close the issue

[2022-11-11 11:55] #109 closed

[2022-11-11 11:56] jepiqueau commented on #109
@phormula thanks for using the plugin.